.dashboard--empty {
  margin-top: 2em;
  text-align: center;
}

.dashboard--empty img {
  width: 100px;
  margin: 0 auto;
}

.sites-list {
  width: 100%;
}

.sites-list .sites-list-item:before {
  content: "";
}

.sites-list .sites-list-item {
  align-items: center;
  background-color: #e6e6e6;
  display: flex;
  margin-bottom: .2em;
  padding: 1em;
  width: 100%;
}

.sites-list-item-text,
.sites-list-item-actions {
  flex-grow: 1;
}

.sites-list-item-text p {
  margin: 0;
}

.sites-list-item-actions {
  padding-right: 2em;
  text-align: right;
}
