.CodeMirror {
  border: 1px solid #ccc;
  height: auto;
}

.ProseMirror-content {
  min-height: 30em;
}

.ProseMirror-content p {
  font-style: normal;
}

.ProseMirror-content:focus {
  border: none;
  outline: none;
}

.preview-buttons {
  .preview-button {
    display: block;;
  }
  .preview-button-disabled {
    display: none;
  }
}

.preview-buttons.processing {
  .preview-button {
    display: none;
  }
  .preview-button-disabled {
    display: block;
  }
}

.mask {
  cursor: not-allowed;
  background: rgba(255,255,255,0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
