label,
legend {
  font-size: inherit;
  font-weight: 800;
  text-transform: capitalize;
}

label,
fieldset {
  margin-top: 2rem;
}

@media screen and (min-width: 600px) {
  form {
    max-width: 100%;
  }
}
