
.image-cards {
  margin-bottom: 1em;
  overflow-x: scroll;
  width: 100%;
}

.image-cards .scroll{
  display: flex;
}

.image-card {
  background-color: #ccc;
  margin-right: 1em;
  min-height: 200px;
  position: relative;
  width: 150px;
}

.image-cards .selected {
  border: 7px solid black;
}

.image-card img {
  margin-left: 5%;
  margin-top: 5%;
  width: 90%;
}

.image-card span {
  background-color: pink;
  bottom: .5em;
  display: inline-block;
  left: 0;
  padding-top: .3em;
  padding-bottom: .3em;
  position: absolute;
  text-align: center;
  width: 100%;
}
