$sans-serif: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$header-bg-color: rgb(21, 61, 100);
$header-text-color: rgb(255, 255, 255);

$hero-bg-color: rgb(97, 142, 200);
$hero-text-color: $header-text-color;

$label-success-bg-color: #2e8540;
$label-danger-bg-color: #e31c3d;
$label-warning-bg-color: #fdb81e;
