<div class="editor">
  <div class="row">
    <div class="col s8">
      <input type="text" id="save-content-message" placeholder="Some changes to <%= file %>">
      <a class="waves-effect waves-light btn" id="save-content-action">Save</a>
      <span id="save-status-result"></span>
    </div>
    <div class="col s4">
      <div class="card grey lighten-1">
         <div class="card-content">
           <p>Make this a helpful save message for yourself and future collaborators.</p>
         </div>
       </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <form>
        <textarea class="js-st-instance"></textarea>
      </form>
    </div>
  </div>
</div>
