<div class="editor">
  <div class="panel panel-info">
    <div class="panel-heading">Save your changes</div>
    <div class="panel-body">
      <form>
        <div class="form-group">
          <label for="save-content-message">Make this a helpful save message for yourself and future collaborators.</label>
          <input type="text" class="form-control" id="save-content-message" value="Some changes to <%= fileName %>">
        </div>
        <a class="btn btn-primary" id="save-content-action" role="button">Save</a>
        <span id="save-status-result"></span>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <form>
        <textarea class="js-st-instance"></textarea>
      </form>
    </div>
  </div>
</div>
