<div class="usa-grid">
  <div class="jumbotron text-center">
    <h1>Welcome to Federalist.</h1>
    <p>Federalist is a unified interface for publishing static government websites.</p>
    <p>Have an account? <a class="usa-button usa-button-big" href="/auth/github" role="button">Log in now</a></p>
  </div>
</div>

<hr>

<div class="usa-grid">
  <div class="usa-width-one-third">
    <h2>Secure and scalable</h2>
    <p>Federalist websites offer the highest level of security and scalability. They are generated static sites hosted on cloud infrastructure.</p>
  </div>
  <div class="usa-width-one-third">
    <h2>Easy to maintain</h2>
    <p>Get started with a new website right away by selecting from a template and adding your content with a web-based editor.</p>
 </div>
  <div class="usa-width-one-third">
    <h2>Fully customizable</h2>
    <p>Build completely custom templates that take advantage of Federalist's scalable static site architecture and web-based editor.</p>
  </div>
</div>

<hr>

<div class="usa-grid">
  <div class="col-md-8 col-md-offset-2">
    <h2>Federalist is in private alpha</h2>
    <p>We're rapidly developing Federalist to help deliver high-quality websites for departments and agencies across the US federal government. During our <a href="https://18f.gsa.gov/dashboard/stages/" target="_blank">alpha period</a>, we are accepting a limited number of users.</p>
    <p>Are you responsible for a federal website and interested in learning more? <a class="usa-button usa-button-outline" href="https://docs.google.com/forms/d/1iB8aW7c9r1QH3s8XElQCrnXRGjAiPUYpWG1CMeEqGIo/viewform" role="button">Sign up now</a></p>
  </div>
</div>
