<div class="hero">
  <div class="usa-grid">
    <h1>Federalist is a unified interface for publishing static government websites.</h1>
    <p>Have an account?</p>
    <a class="usa-button usa-button-outline usa-button-big" href="/auth/github" role="button">Log in now</a></p>
  </div>
</div>

<div class="usa-grid home-feature">
  <div id="secure-svg"></div>
  <div class="feature-text">
    <h2>Secure and scalable</h2>
    <p>Federalist websites offer the highest level of security and scalability. They are generated static sites hosted on cloud infrastructure.</p>
  </div>
</div>
<div class="usa-grid home-feature">
  <div id="maintain-svg"></div>
  <div class="feature-text">
    <h2>Easy to maintain</h2>
    <p>Get started with a new website right away by selecting from a template and adding your content with a web-based editor.</p>
  </div>
</div>
<div class="usa-grid home-feature">
  <div id="custom-svg"></div>
  <div class="feature-text">
    <h2>Fully customizable</h2>
    <p>Build completely custom templates that take advantage of Federalist's scalable static site architecture and web-based editor.</p>
  </div>
</div>

<div class="usa-grid">
  <div class="col-md-8 col-md-offset-2 center-text">
    <h2>Federalist is in private beta</h2>
    <p>We're rapidly developing Federalist to help deliver high-quality websites for departments and agencies across the US federal government. During our <a href="https://18f.gsa.gov/dashboard/stages/" target="_blank">beta period</a>, we are accepting a limited number of users.</p>
    <p>Are you responsible for a federal website and interested in learning more?</p>
    <a class="usa-button usa-button-primary" href="https://docs.google.com/forms/d/1iB8aW7c9r1QH3s8XElQCrnXRGjAiPUYpWG1CMeEqGIo/viewform" role="button">Sign up now</a></p>
  </div>
</div>
