<div class="sites-list-item-text">
  <a href="#site/<%- id %>"><%- owner %> / <%- repository %></a>
  <% if (!builds.length || !lastBuildTime) { %>
    <p>This site has not been published yet. Please wait while the site is built.</p>
  <% } else { %>
    <p>This site was last published at <%- lastBuildTime %></p>
  <% } %>
</div>
<div class="sites-list-item-actions">
  <% if (builds.length) { %>
  <a class="icon icon-view" href="<%- viewLink %>" alt="View the <%- repository %> site" target="_blank">Visit Site</a>
  <% } %>
</div>
