<div class="row">
  <div class="col s6"><h5>Your current sites</h5></div>
  <div class="col s6">
    <% if (sitesCount !== 0) { %>
    <a class="add-site-action right btn-floating btn-large waves-effect waves-light red" alt="add a new site" href="#new"><i class="mdi-content-add"></i></a>
    <% } %>
  </div>
</div>
<% if (sitesCount === 0) { %>
  <div class="row">
    <p>Welcome! You don't have any sites registered with Federalist just yet. Let's go ahead and change that.</p>
    <div class="center">
      <a class="add-site-action waves-effect waves-light btn-large" href="#new">Add your first site now.</a>
    </div>
  </div>
<% } else { %>
  <div class="row">
    <ul class="collapsible"></ul>
  </div>
<% } %>
