<% if(authenticated) { %>
  <div class="row">
    <div class="col s6"><h5>Your current sites</h5></div>
    <div class="col s6">
      <a class="add-site-action right btn-floating btn-large waves-effect waves-light red" alt="add a new site"><i class="mdi-content-add"></i></a>
    </div>
  </div>
  <% if (sitesCount === 0) { %>
    <div class="row">
      <p>Welcome! You don't have any sites registered with Federalist just yet. Let's go ahead and <a class="add-site-action" href="#">change that</a>.</p>
    </div>
  <% } else { %>
    <div class="row">
      <ul class="collapsible"></ul>
    </div>
  <% } %>

<% } else { %>
  <div class="row">
      <h5>Welcome to Federalist</h5>
      <p>Federalist is super cool and useful for publishing websites. But first, we need access to your Github account.</p>
      <div class="center">
        <a class="waves-effect waves-light btn-large" href="/auth/github">Authenticate with GitHub</a>
      </div>
      <!--
      <div class="row">
        <div class="col s12 m4">Feature 1 cool thing</div>
        <div class="col s12 m4">Feature 2 cool thing</div>
        <div class="col s12 m4">Feature 3 cool thing</div>
      </div>
      -->
    </ul>
  </div>
<% } %>
