{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [0],
    "import/no-extraneous-dependencies": [0],
    "class-methods-use-this": [0],
    "comma-dangle": ["error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ]
  }
}
