{% extends "base.njk" %}

{% block main_content %}

  {% import "case-study.njk" as caseStudy %}
  {% import "example-thumb.njk" as exampleSite %}

  <div id="home">
    <div class="well">
      <div class="usa-grid federalist-hero">
        <div class="usa-width-two-thirds">
          <h1 class="hero-heading">
            Trusted and scalable.
          </h1>
          <p class="hero-copy sub-heading">
            Eight agencies use Federalist to host over 100 sites with over 140,000 page views per day. This page shows a sample of our partners.
          </p>
        </div>
        <div class="usa-width-one-third usa-hero-callout">
          <p class="medium-copy">
            Federalist welcomes its newest client, <b>GSA's Office of Government Wide Policy Councils Team</b>
          </p>
          <p class="small">
            February 28, 2018
          </p>
        </div>
      </div>
    </div>

    {% for study in caseStudies %}
      {{ caseStudy.template(study, loop.index) }}
    {% endfor %}

    <section class="well example-sites">
      <div class="usa-grid federalist-hero">
        <div class="usa-width-one-half">
          <h1 class="hero-heading">
            See more sites powered by Federalist.
          </h1>
          <p class="example-sites-copy">
            Eight agencies use Federalist to host over 100 sites with over 140,000 page views per day. This page shows a sample of our partners.
          </p>
        </div>
        <div class="usa-width-one-half flexbox-grid example-sites-list">
          {% for example in exampleSites %}
          {{ exampleSite.template(example) }}
          {% endfor %}
        </div>
      </div>
    </section>
  {% endblock %}
