{% extends "base.njk" %}

{% block main_content %}
  <div class="usa-grid info-block usa-content">
    <h1>Contact</h1>
    <h2>Want to buy Federalist?</h2>
    <p>If you’re interested in using Federalist, <a href="mailto:federalist-inquiries@gsa.gov">email the Federalist team</a>. We’ll schedule a call to answer your questions and help you get started.</p>
    <h2>For existing Federalist users</h2>
    <p>If you’re in need of assistance, please <a href="mailto:federalist-support@gsa.gov">submit a support ticket</a>. We provide support during business hours for U.S. East and West Coasts. We are unable guarantee support outside of those hours but we’re always monitoring for issues that might
      affect customers. Please do not include passwords or any sensitive information in your support ticket. Federalist is hosted on cloud.gov. Cloud.gov is constantly monitored and set up for low or zero-downtime deployments, and should be expected to be
      operating continuously. <a href="https://cloudgov.statuspage.io">Check cloud.gov's current status and history of uptime</a>.</p>
    <h2>Report a vulnerability</h2>
    <p>We welcome vulnerability reports <a href="https://18f.gsa.gov/vulnerability-disclosure-policy/">according to our vulnerability disclosure policy</a>, which includes how to best contact us for this kind of information.</p>
  </div>

{% endblock %}
