{% extends "base.njk" %}

{% block main_content %}
  <div class="usa-grid info-block usa-content">
    <h1>Contact</h1>
    <h2>Want to buy Federalist?</h2>
    <p>If you’re interested in using Federalist, email the Federalist team at 
      <a href="mailto:federalist-inquiries@gsa.gov?body=What%27s%20your%20name%3F%0A%0AWhat%20agency%20or%20office%20do%20you%20work%20for%3F%0A%0AWhat%27s%20your%20job%20title%20or%20role%3F%0A%0ATell%20us%20a%20little%20about%20your%20website%20project%20or%20your%20questions%20about%20federalist:%0A%0AIf%20you%27d%20like%20us%20to%20call%20you%2C%20what%27s%20your%20phone%20number%20and%20when%20might%20be%20a%20good%20time%3F%0A">federalist-inquiries@gsa.gov</a> with your name, agency or office, and information about the website you want to build or migrate. We’ll schedule a call to answer your questions and help you get started.</p>
    <h2>For existing Federalist users</h2>
    <p>If you’re in need of assistance, please submit a support ticket to
      <a href="mailto:federalist-support@gsa.gov">federalist-support@gsa.gov</a> with a link to your Federalist website, a link to the code repository for your site, and a description of your problem. If applicable, please also include any build logs that show
      the issue. Please do not include passwords or any sensitive information in your support ticket.</p>
    <p>The Federalist team provides support during business hours for U.S. East and West Coast time zones. While we're unable to guarantee support outside of these hours, we’re always monitoring for issues that might affect uptime as we host many sites using Federalist.</p>
    <p>Federalist is hosted on cloud.gov. cloud.gov is constantly monitored and set up for low or zero-downtime deployments, and should be continuously operating.
      <a href="https://cloudgov.statuspage.io">Check cloud.gov's current status and history of uptime</a>.</p>
    <h2>Report a vulnerability</h2>
    <p>We welcome vulnerability reports
      <a href="https://18f.gsa.gov/vulnerability-disclosure-policy/">according to our vulnerability disclosure policy</a>. We accept and discuss vulnerability reports on <a href="https://hackerone.com/tts">HackerOne</a>, via email at <a href="mailto:tts-vulnerability-reports@gsa.gov">tts-vulnerability-reports@gsa.gov</a>, or <a href="https://docs.google.com/forms/d/e/1FAIpQLSdhr6REOq8QRZ3C2cRWVHWbjcGgdNL8_nVSGY1cBSl1-tfkWA/viewform">through this reporting form</a>. Please review our vulnerability disclosure policy before reporting a vulnerability.
    </p>
  </div>

{% endblock %}
