
{% extends "base.njk" %}

{% block main_content %}
  <div id="home">
    <div class="hero">
      <div class="usa-grid">
        <div class="usa-width-one-half">
            <div class="usa-hero-callout usa-section-dark">
          <h1>
            Here are some stats!
          </h1>
          <p>Pageviews are awesome!</p>
        </div>
        </div>
        <div class="usa-width-one-half">
          <div class="usa-hero-callout usa-section-dark">
          <h1>
            Here are some stats!
          </h1>
            <p>Visitors are also great!</p>
        </div>
        </div>
      </div>
    </div>
    <div class="featured-site">
      <div class="usa-grid">
        <div class="usa-width-one-half">
          <img src="/images/example-sites/cyber-dhs.png"/>
        </div>
        <div class="usa-width-one-half">
          <h2>cyber.dhs.gov</h2>
          <p>We developed Federalist to help deliver high-quality websites for departments and agencies across the US federal government.</p>
          <p>Are you responsible for a federal website and interested in learning more?</p>
          <p><a class="usa-button" href="https://docs.google.com/forms/d/1iB8aW7c9r1QH3s8XElQCrnXRGjAiPUYpWG1CMeEqGIo/viewform">Sign up for more information</a></p>
        </div>
      </div>
  </div>
    <div class="featured-site">
    <div class="usa-grid">
      <div class="usa-width-one-half">
        <h2>College Scorecard</h2>
        <p>We developed Federalist to help deliver high-quality websites for departments and agencies across the US federal government.</p>
        <p>Are you responsible for a federal website and interested in learning more?</p>
        <p><a class="usa-button" href="https://docs.google.com/forms/d/1iB8aW7c9r1QH3s8XElQCrnXRGjAiPUYpWG1CMeEqGIo/viewform">Sign up for more information</a></p>
      </div>
      <div class="usa-width-one-half">
        <img src="/images/example-sites/college-scorecard.png"/>
      </div>
    </div>
  </div>
    <div class="featured-site">
      <div class="usa-grid">
        <div class="usa-width-one-half">
          <img src="/images/example-sites/vote-gov.png"/>
        </div>
        <div class="usa-width-one-half">
          <h2>Vote.gov</h2>
          <p>We developed Federalist to help deliver high-quality websites for departments and agencies across the US federal government.</p>
          <p>Are you responsible for a federal website and interested in learning more?</p>
          <p><a class="usa-button" href="https://docs.google.com/forms/d/1iB8aW7c9r1QH3s8XElQCrnXRGjAiPUYpWG1CMeEqGIo/viewform">Sign up for more information</a></p>
        </div>
      </div>
  </div>
<section class="usa-section">
<div class="usa-grid">
  <div class="flexbox-grid example-cards">
    <div class="usa-width-one-third">
      <a href="https://18f.gsa.gov">
      <div class="well-heading"><img data-action="name-site" class="thumbnail" src="/images/example-sites/cards/18f-gsa-gov.png" alt="Thumbnail screenshot for the Basic Report Template template">
      </div>
      <div class="well-text"><h3 class="well-title">18F.gsa.gov </h3></div>
    </a>
    </div>
    <div class="usa-width-one-third">
      <a href="https://login.gov">
      <div class="well-heading"><img data-action="name-site" class="thumbnail" src="/images/example-sites/cards/login-gov.png" alt="Thumbnail screenshot for the Basic Report Template template">
      </div>
      <div class="well-text"><h3 class="well-title">Login.gov</h3></div>
    </a>
    </div>
    <div class="usa-width-one-third">
      <a href="https://useiti.doi.gov">
      <div class="well-heading"><img data-action="name-site" class="thumbnail" src="/images/example-sites/cards/useiti-doi-gov.png" alt="Thumbnail screenshot for the Basic Report Template template">
      </div>
      <div class="well-text"><h3 class="well-title">EITI</h3></div>
      </a>
    </div>
  </div>
  <div class="flexbox-grid example-cards">
    <div class="usa-width-one-third">
      <a href="https://oes.gsa.gov">
      <div class="well-heading"><img data-action="name-site" class="thumbnail" src="/images/example-sites/cards/oes-gsa-gov.png" alt="Thumbnail screenshot for the Basic Report Template template">
      </div>
      <div class="well-text"><h3 class="well-title">OES</h3></div>
      </a>
    </div>
    <div class="usa-width-one-third">
      <a href="https://standards.usa.gov/">
      <div class="well-heading"><img data-action="name-site" class="thumbnail" src="/images/example-sites/cards/standards-usa-gov.png" alt="Thumbnail screenshot for the Basic Report Template template">
      </div>
      <div class="well-text"><h3 class="well-title">USWDS</h3></div>
      </a>
    </div>
    <div class="usa-width-one-third">
      <a href="https://tech.gsa.gov">
      <div class="well-heading"><img data-action="name-site" class="thumbnail" src="/images/example-sites/cards/tech-gsa-gov.png" alt="Thumbnail screenshot for the Basic Report Template template">
      </div>
      <div class="well-text"><h3 class="well-title">tech.gsa.gov</h3></div>
      </a>
    </div>
  </div>
</div>
</section>
{% endblock %}
