
{% extends "base.njk" %}

{% block main_content %}
  <div id="home">
    <div class="hero">
      <div class="usa-grid">
        <div class="usa-width-one-half">
            <div class="usa-hero-callout usa-section-dark">
          <h1>
            Here are some stats!
          </h1>
          <p>Pageviews are awesome!</p>
        </div>
        </div>
        <div class="usa-width-one-half">
          <div class="usa-hero-callout usa-section-dark">
          <h1>
            Here are some stats!
          </h1>
            <p>Visitors are also great!</p>
        </div>
        </div>
      </div>
    </div>
    <div class="build-count">
      <div class="usa-grid text-center">
        <p>{{ buildCount }} site updates deployed in the past week.</p>
      </div>
    </div>
    <div class="featured-site">
      <div class="usa-grid">
        <div class="usa-width-one-half">
          <img src="/images/example-sites/cyber-dhs.jpg"/>
        </div>
        <div class="usa-width-one-half">
          <h2>cyber.dhs.gov</h2>
          <p>We developed Federalist to help deliver high-quality websites for departments and agencies across the US federal government.</p>
          <p>Are you responsible for a federal website and interested in learning more?</p>
          <p><a class="usa-button" href="https://docs.google.com/forms/d/1iB8aW7c9r1QH3s8XElQCrnXRGjAiPUYpWG1CMeEqGIo/viewform">Sign up for more information</a></p>
        </div>
      </div>
  </div>
    <div class="featured-site">
    <div class="usa-grid">
      <div class="usa-width-one-half">
        <h2>College Scorecard</h2>
        <p>We developed Federalist to help deliver high-quality websites for departments and agencies across the US federal government.</p>
        <p>Are you responsible for a federal website and interested in learning more?</p>
        <p><a class="usa-button" href="https://docs.google.com/forms/d/1iB8aW7c9r1QH3s8XElQCrnXRGjAiPUYpWG1CMeEqGIo/viewform">Sign up for more information</a></p>
      </div>
      <div class="usa-width-one-half">
        <img src="/images/example-sites/college-scorecard.jpg"/>
      </div>
    </div>
  </div>
    <div class="featured-site">
      <div class="usa-grid">
        <div class="usa-width-one-half">
          <img src="/images/example-sites/vote-gov.jpg"/>
        </div>
        <div class="usa-width-one-half">
          <h2>Vote.gov</h2>
          <p>We developed Federalist to help deliver high-quality websites for departments and agencies across the US federal government.</p>
          <p>Are you responsible for a federal website and interested in learning more?</p>
          <p><a class="usa-button" href="https://docs.google.com/forms/d/1iB8aW7c9r1QH3s8XElQCrnXRGjAiPUYpWG1CMeEqGIo/viewform">Sign up for more information</a></p>
        </div>
      </div>
  </div>
{% endblock %}
