<% if (type === 'text') { %>
  <label for="<%- name %>"><%- label %></label>
  <input type="text" name="<%- name %>" value="<%- value %>">
<% } else if (type === 'boolean') { %>
  <fieldset class="usa-fieldset-inputs">
    <legend><%- label %></legend>
    <ul class="usa-unstyled-list">
      <li>
        <input type="radio" name="<%- name %>" id="true-<%- name %>"
            value="true" <% if (value) { %> checked="" <% } %> >
        <label for="true-<%- name %>">True</label>
      </li>
      <li>
        <input type="radio" name="<%- name %>" id="false-<%- name %>"
            value="false" <% if (!value) { %> checked="" <% } %> >
        <label for="false-<%- name %>">False</label>
      </li>
    </ul>
  </fieldset>
<% } else if (type === 'select') { %>
  <label for="<%- name %>"><%- label %></label>
  <select name="<%- name %>" id="<%- name %>">
    <% options.forEach(function(o) { %>
      <option value="<%- o %>" <% if (o === value) { %>selected<% } %> ><%- o %></option>
    <% }); %>
  </select>
<% } else if (type === 'date') { %>
  <label for="<%- name %>"><%- label %></label>
  <input type="date" name="<%- name %>" id="<%- name %>"
  <% if (value) { %> value="<%- value %>"
  <% } else { var today = new Date().toISOString().substring(0, 10); %> value="<%- today %>" <% } %> >
<% } else { %>
  <% console.log('unknown field type', type); %>
<% } %>
