
{% extends "base.njk" %}

{% block main_content %}
  <div class="usa-grid info-block usa-content">
    <h1>404 / Page not found</h1>
    <p>
        You might want to double-check your link and try again, or return to the <a href="/">homepage<a/>.
    </p>
  </div>
{% endblock %}
