{% extends "base.njk" %}

{% block head_extra %}
  <script nonce="{{ nonce }}">
    window.FRONTEND_CONFIG = {{ frontendConfig | dump | safe }};
  </script>
{% endblock %}

{% block below_header %}
  {% if siteWideError %}
    <div class="usa-alert usa-alert--error">
      <div class="usa-alert__body">
        <h4 class="usa-alert__heading">{{ siteWideError.heading }}</h4>
        <p class="usa-alert__text">
          {{ siteWideError.body | safe }}
        </p>
      </div>
    </div>
  {% endif %}
{% endblock %}


{% block main_content %}
  <div id="js-app" class="padding-top-2"></div>

  <script nonce="{{ nonce }}">
    window.CSRF_TOKEN = "{{ csrfToken }}";
  </script>
  <script src="/{{ webpackAssets['bundle.js'] }}"></script>
{% endblock %}
