<!doctype html>
<html lang="en">
  <head>
    {% if shouldIncludeTracking %}
      <!-- Digital Analytics Program roll-up, see https://analytics.usa.gov for data -->
      <script id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=GSA&subagency=TTS,Federalist"></script>
    {% endif %}

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/images/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/favicons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="{{ appName }}">
    <meta name="application-name" content="{{ appName }}">
    <meta name="msapplication-TileColor" content="#153d64">
    <meta name="msapplication-TileImage" content="/images/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/{{ webpackAssets['main.css'] }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- For Facebook -->
    <meta property="og:title" content="{{ appName }} compliantly hosts federal government websites." />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="https://pages.cloud.gov/images/social-cards/facebook-1200x627.png" />
    <meta property="og:url" content="https://pages.cloud.gov" />
    <meta property="og:description" content="{{ appName }} expertly manages the backend work of deploying secure, compliant, and scalable government websites, allowing federal offices to focus on their content." />

    <!-- For Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content="https://pages.cloud.gov/images/social-cards/twitter-1024x512.png" />

    <script src="/uswds/js/uswds.min.js" type="text/javascript"></script>
    <title>
      {{ appName }}{% if siteDisplayEnv %} | {{ siteDisplayEnv }}{% endif %}
    </title>
    {% block head_extra %}
    {% endblock %}
  </head>
  <body class="body {{ productName }}">
    {% block before_header %}
    {% endblock %}

    {% if isFederalist %}
      {% include "site-banner.njk" %}
    {% endif %}

    {% include "usa-banner.njk" %}
    {% include "navigation.njk" %}

    <div class="usa-overlay"></div>
    {% block flash_messages %}
      {% if messages.errors %}
        {% for error in messages.errors %}
        <div class="usa-alert-home">
          <div class="usa-alert usa-alert-error usa-alert-slim" role="alert">
            <div class="usa-alert-body">
              <p class="usa-alert-text"> {{ error }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      {% endif %}
      {% if messages.warnings %}
        {% for warning in messages.warnings %}
        <div class="usa-alert-home">
          <div class="usa-alert usa-alert-warning usa-alert-slim" role="alert">
            <div class="usa-alert-body">
              <p class="usa-alert-text"> {{ warning }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      {% endif %}
    {% endblock %}

    <div class="main-content">
      {% block main_content %}
      {% endblock %}
    </div>

    <footer class="usa-footer usa-footer-medium" role="contentinfo">
      <div class="usa-footer-secondary_section">
        <div class="usa-grid">
          <div class="usa-footer-contact-links usa-width-one-half">
            <ul class="usa-nav-primary">
              <li>
                <a class="usa-nav-link" href="{{ homepageUrl }}/features/">
                  <span>Features</span>
                </a>
              </li>
              <li>
                <a class="usa-nav-link" href="{{ homepageUrl }}/success-stories/">
                  <span>Success Stories</span>
                </a>
              </li>
              <li>
                <a class="usa-nav-link" href="{{ homepageUrl }}/contact/">
                  <span>Contact<span>
                </a>
              </li>
              <li>
                <a class="usa-nav-link" href="https://federalist.statuspage.io">
                  <span>Status<span>
                </a>
              </li>
            </ul>
            <div class="usa-footer-primary-content usa-footer-contact_info">
              <p>
                <a href="https://github.com/cloud-gov/pages-core/">
                  <img src="/images/icons/icon-github-white.svg" alt="github logo"/>Browse source code</a>
              </p>
            </div>
            <div class="usa-footer-primary-content usa-footer-contact_info">
              <p>
                <a href="mailto:{{ supportEmail }}">
                  <img src="/images/icons/icon-envelope.svg" alt="envelope"/>{{ supportEmail }}</a>
              </p>
            </div>
          </div>
          <div class="usa-footer-logo usa-width-one-half align-right">
            <a href="/"><img class="usa-footer-logo-img federalist-logo" src="/images/logos/{{ productName }}-logo.svg" alt="{{ appName }} Logo"></a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
