{% macro template(study, index) %}
<div class="usa-grid">
  {% if index > 1 %}
    <hr class="hr-light">
  {% endif %}
  <div class="info-block">
    <div class="usa-width-one-half description">
      <h2 class="heading">{{ study.heading }}</h2>
      {% if study.subheading %}
        <h4 class="sub-heading">{{ study.subheading}} </h4>
      {% endif %}
      <p class="copy">
        {{ study.copy | safe }}
      </p>
      <ul class="figure-list">
        {% if study.agency %}
        <li>
          <h6 class="heading">Agency</h6>
          <p class="small">
            {{ study.agency }}
          </p>
        </li>
        {% endif %}
        {% if study.date %}
        <li>
          <h6 class="heading">Client Since</h6>
          <p class="small">
            {{ study.date }}
          </p>
        </li>
        {% endif %}
        {% if study.templateUsed %}
        <li>
          <h6 class="heading">Built With</h6>
          <p class="small">
            <a href="">{{ study.templateUsed }}</a>
          </p>
        </li>
        {% endif %}
      </ul>
    </div>
    <div class="usa-width-one-half info-image">          
      <img src="{{ study.image }}"/>
      {% if study.caption %}
      <figcaption class="caption">
        <p class="small">
          {{ study.caption }}
        </p>
      </figcaption>
      {% endif %}
    </div>
  </div>
</div>
{% endmacro %}