{% macro template(example) %}
<div class="usa-width-one-third case-study">
  <a href="{{ example.link }}">
    <img data-action="name-site" class="thumbnail" src="{{ example.image }}" alt="U.S. Web Design Standards home page">              
    <h5>{{ example.caption }}</h5>
  </a>
</div>
{% endmacro %}
