{% extends "base.njk" %}

{% block main_content %}
<div class="well">
  <div class="usa-grid federalist-hero">
    <div class="usa-width-two-thirds hero-heading">
      <h1 class="hero-heading">
	Less work.<br />
	More Federalist.
      </h1>
      <div>
        <p>We’ve taken the work out of launching a federal compliant website.</p>
      </div>
    </div>
    <div class="usa-width-one-third usa-hero-callout">
      <hr class="hr-dark"></hr>
      <h5 class="contrast-heading">Try it for free</h5>
      <div class="usa-hero-callout-stats">
	<p>Contact the Federalist team to kick off your next static site project.</p>
        <button>Get in touch</button>
      </div>
      <hr class="hr-dark"></hr>
    </div>
  </div>
</div>
<div class="usa-grid">
  <section class="info-block">
    <a id="page-body"></a>
    <h2>Save time and money with built-in compliance and security.</h2>
    <div class="usa-width-one-half">
      <h3>Federalist</h3>
      <h5>Federally compliant and secure from the start</h5>
	<p>GSA-granted 3-year Low Impact Level Authority to Operate.</p>
	<p>Built and hosted on FedRAMP-certified Amazon Web Services (AWS) GovCloud infrastructure and cloud.gov.</p>
      <h5>Code and content always under your control</h5>
	<p>Stay secure with limited administrator permissions, multiple layers of authentication, and protection against attacks.</p>
	<p>Your code and content are always under your control.</p>
      <h5>Reliable and secure</h5>
	<p>Static site hosting only, drastically lowering the probability and possibility of a security threat.</p>
	<p>Federalist’s content delivery network seamlessly supports your custom URLs to ensure your site is always up and running.</p>
	<p>It’s easy to move your sites on or off of Federalist at any time.</p>
    </div>
    <div class="usa-width-one-half">
      <h3>Other content mangement systems</h3>
      <h5>Require an independent Authority to Operate</h5>
      <p>lorem</p>
      <h5>Additional plugins (and security reviews for them) required</h5>
      <p>lorem</p>
      <h5>Low re-usability for proprietary platforms</h5>
      <p>lorem</p>
    </div>
  </section>
</div>
<div class="usa-grid">
  <hr class="hr-light">
  <section class="info-block">
    <div class="usa-width-one-whole">
      <h2>Customize and publish your site with confidence.</h2>
      <p>With Federalist, you can:</p>
      <ul>
	<li>Monitor your content creation process</li>
	<li>Preview your site updates before making them live</li>
	<li>Publish completed content</li>
	<li>Make site updates quickly</li>
      </ul>
    </div>
    <div class="usa-width-one-whole">
      <h3>You don’t need to start from scratch with Federalist:</h3>
      <div class="usa-grid-full">
	<div class="usa-width-one-third">
	  <p><a href="https://federalist-docs.18f.gov/pages/using-federalist/templates/">Our 508-compliant website templates</a> help you kickstart your design process.</p>
	</div>
	<div class="usa-width-one-third">
	  <p>If you have an in-house design team, they can use a static site generator like Jekyll, Hugo, or their own tools to automatically deploy a custom site built just for you.</p>
	</div>
	<div class="usa-width-one-third">
	  <p>If your code is already on GitHub, Federalist can securely deploy a static website from your repository in minutes.</p>
	</div>
       </div>
      <div class="usa-grid-full">
	<div class="usa-width-one-third">
	  <p>Use GitHub, a web-based hosting service with built-in version control, for real-time publishing and easy collaboration</p>
	</div>
	<div class="usa-width-one-third">
	  <p>The code used for Federalist is open source and on the public domain for anyone to reuse. Share code with other agencies and vendors also using Federalist.</p>
	</div>
      </div>
    </div>
  </section>
</div>
<div class="usa-grid">
  <hr class="hr-light">
  <section class="info-block">
    <h2>It’s easy to get started.</h2>
    <p>We’ve streamlined our onboarding process to get you working quickly:</p>
    <ul>
      <li>No hidden charges.</li>
      <li>All the storage and bandwidth you need.</li>
      <li>Unlimited additional sites for your team or office.</li>
      <li>Two weeks to execute an average contract.</li>
    </ul>
  </section>
</div>
<div class="well">
  <center>
    Try a free test site to see if Federalist is right for you.
    <button>Get in touch</button>
  </center>
</div>
<hr class="hr-light--inverted" />
<div class="well">
  <div class="usa-grid federalist-hero">
    <h1>We’re here to help.</h1>
    <div class="usa-width-one-third">
      <p>We offer <a href="https://federalist-docs.18f.gov/pages/using-federalist/instructional-demos/">basic training for both Federalist and GitHub</a>.</p>
    </div>
    <div class="usa-width-one-third">
      <p><a href="http://chat.18f.gov/">Join the Federalist community on Slack</a> to learn more from other users.</p>
    </div>
    <div class="usa-width-one-third">
      <p>The Federalist team is continuously learning from your experiences. <a href="mailto:federalist-inquiries@gsa.gov">Share your feedback</a> so that we can help you avoid recurring problems.</p>
    </div>
  </div>
</div>
{% endblock %}
