{% extends "base.njk" %}

{% block main_content %}
<div class="features-page">
  <div class="well">
    <div class="usa-grid federalist-hero">
      <div class="usa-width-two-thirds">
        <h1 class="hero-heading">
          Less work.<br />
          More Federalist.
        </h1>
        <p class="hero-copy sub-heading">We’ve taken the work out of launching a federal compliant website.</p>
      </div>
      <div class="usa-width-one-third usa-hero-callout">
        <h2>Try it for free</h2>
        <p>Contact us to try Federalist temporarily on a prototype or test project.</p>
        <a class="usa-button" href="mailto:federalist-inquiries@gsa.gov"><img src="/images/icons/icon-envelope.svg" /><img src="/images/icons/icon-envelope.svg" /> Get in touch</a>
      </div>
    </div>
  </div>
  <div class="usa-grid">
    <section class="info-block">
      <a id="page-body"></a>
      <h2>Save time and money with built-in compliance and security.</h2>
      <div class="usa-grid-full">
        <div class="usa-width-one-half">
          <img src="/images/illo-rocket-mountains.png" srcset="/images/illo-rocket-mountains@2x.png 2x">
          <h3>Federalist features:</h3>

          <div class="criteria-list">
            <h5 class="criteria-list-heading">Federally compliant from the start</h5>
            <p>Hosted on the FedRAMP-certified cloud.gov platform and Amazon Web Services GovCloud infrastructure.</p>
            <p>3-year Authority to Operate (low impact level) granted by GSA.</p>

            <h5 class="criteria-list-heading">Reliable and secure</h5>
            <p>Protected against attack by multiple levels of authentication.</p>
            <p>Federalist’s content delivery network seamlessly supports your site to keep it up and running even when traffic spikes.</p>

            <h5 class="criteria-list-heading">Self-controlled content and code</h5>
            <p>Deploy your content and code quickly and safely, all while under your control.</p>
            <p>Move your sites on or off of Federalist at any time.</p>
          </div>
        </div>
        <div class="usa-width-one-half">
          <img src="/images/illo-pushing-stone.png" srcset="/images/illo-pushing-stone@2x.png 2x">
          <h3>Drawbacks of other site publishers:</h3>

          <div class="criteria-list criteria-list--clock">
            <h5 class="criteria-list-heading">Extensive security and compliance evaluations</h5>
            <p>Federal regulations demand an impact level assessment, system security plan, additional monitoring setup, vulnerability scanning, privacy threshold analysis, documentation review, penetration testing, and more to obtain an Authroity to Operate.</p>

            <h5 class="criteria-list-heading">Additional plugins required</h5>
            <p>May require plug-ins to get features like simple editorial and development workflows or real-time publishing — and all plug-ins require their own security evaluation.</p>

            <h5 class="criteria-list-heading">Less collaboration and low reusability</h5>
            <p>Closed-source software may require costly training to learn.</p>
            <p>You don't benefit from reusing the open-work of other federal agencies using Federalist.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="usa-grid">
    <hr class="hr-light">
    <section class="info-block">
      <div class="usa-width-one-whole">
        <h2>Customize and publish your site with confidence.</h2>
        <p>With Federalist, you can:</p>
        <ul class="checklist copy">
          <li>Ensure your team is testing page updates before sending them for review</li>
          <li>Check full previews of proposed site updates before making them live</li>
          <li>Publish completed content with a single click</li>
          <li>Make site updates quickly</li>
        </ul>
      </div>
      <div class="usa-width-one-whole">
        <h3>You don’t need to start from scratch with Federalist:</h3>
        <div class="usa-grid-full">
          <div class="usa-width-one-third">
            <div class="feature-group vertical">
              <div class="feature-image small">
                <img src="/images/icons/icon-rocket-color.svg" />
              </div>
              <div class="feature-text">
                <h4>Deploy quickly</h4>
                <p>If your code is already on GitHub, Federalist can securely deploy a static website from your repository in minutes.</p>
              </div>
            </div>
          </div>
          <div class="usa-width-one-third">
            <div class="feature-group vertical">
              <div class="feature-image small">
                <img src="/images/icons/icon-layout-color.svg" />
              </div>
              <div class="feature-text">
                <h4>Accessible templates</h4>
                <p><a href="https://federalist-docs.18f.gov/pages/using-federalist/templates/">Our 508-compliant website templates</a> help you kickstart your design process.</p>
              </div>
            </div>
          </div>
          <div class="usa-width-one-third">
            <div class="feature-group vertical">
              <div class="feature-image small">
                <img src="/images/icons/icon-badge-color.svg" />
              </div>
              <div class="feature-text">
                <h4>Customization</h4>
                <p>If you have an in-house design team, they can use a static site generator like Jekyll, Hugo, or their own tools to automatically deploy a custom site built just for you.</p>
              </div>
            </div>
          </div>
         </div>
        <div class="usa-grid-full">
          <div class="usa-width-one-third">
            <div class="feature-group vertical">
              <div class="feature-image small">
                <img src="/images/icons/icon-clockback-color.svg" />
              </div>
              <div class="feature-text">
                <h4>Simple version control</h4>
                <p>Use GitHub, a web-based hosting service with built-in version control, for real-time publishing and easy collaboration</p>
              </div>
            </div>
          </div>
          <div class="usa-width-one-third">
            <div class="feature-group vertical">
              <div class="feature-image small">
                <img src="/images/icons/icon-two-squares-color.svg" />
              </div>
              <div class="feature-text">
                <h4>Reusable and public</h4>
                <p>The code used for Federalist is open source and on the public domain for anyone to reuse. Share code with other agencies and vendors also using Federalist.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="usa-grid">
    <hr class="hr-light">
    <section class="info-block">
      <h2>It’s easy to get started.</h2>
      <p>We’ve streamlined our onboarding process to get you working quickly:</p>
      <ul>
        <li>No hidden charges.</li>
        <li>All the storage and bandwidth you need.</li>
        <li>Unlimited additional sites for your team or office.</li>
        <li>Weeks to execute a typical agreement.</li>
      </ul>
    </section>
  </div>
  <div class="well">
    <center>
      <strong>Try a free test site to see if Federalist is right for you.</strong>
      <button class="callout-inline"><img src="/images/icons/icon-envelope.svg" /> Get in touch</button>
    </center>
  </div>
  <hr class="hr-light--inverted" />
  <div class="well">
    <div class="usa-grid federalist-hero">
      <h1>We’re here to help.</h1>
      <div class="flexbox-grid">
        <div class="usa-width-one-third flexbox-item">
          <p class="medium-copy">
            We offer basic training for both Federalist and GitHub.<br />
            <a href="https://federalist-docs.18f.gov/pages/using-federalist/instructional-demos/">Learn from our tutorials</a>
          </p>
        </div>
        <div class="usa-width-one-third flexbox-item">
          <p class="medium-copy">Join the Federalist community on Slack to learn more from other users.</p>
          <a class="usa-button" href="http://chat.18f.gov/">Join the Slack channel</a>
        </div>
        <div class="usa-width-one-third flexbox-item">
          <p class="medium-copy">The Federalist team is continuously learning from your experiences so that we can help you avoid recurring problems.</p>
          <a class="usa-button" href="mailto:federalist-inquiries@gsa.gov"><img src="/images/icons/icon-envelope.svg" /> Share your feedback</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
