{% extends "base.njk" %}

{% block main_content %}
<div class="features-page">
  <div class="well">
    <div class="usa-grid federalist-hero">
      <div class="usa-width-two-thirds">
        <h1 class="hero-heading">
          Less work.<br />
          More Federalist.
        </h1>
        <p class="hero-copy sub-heading">We’ve taken the work out of launching a federal compliant website.</p>
      </div>
      <div class="usa-width-one-third usa-hero-callout">
        <h2>Try it for free</h2>
        <p>Contact the Federalist team to kick off your next static site project.</p>
        <button><img src="/images/icons/icon-envelope.svg" /> Get in touch</button>
      </div>
    </div>
  </div>
  <div class="usa-grid">
    <section class="info-block">
      <a id="page-body"></a>
      <h2>Save time and money with built-in compliance and security.</h2>
      <div class="usa-width-one-half">
        <img src="/images/illo-rocket-mountains.png" srcset="/images/illo-rocket-mountains@2x.png 2x">
        <h3>Federalist</h3>

        <div class="criteria-list">
          <h5 class="criteria-list-heading">Federally compliant from the start</h5>
          <p>Built and hosted on FedRAMP-certified Amazon Web Services (AWS) GovCloud infrastructure and cloud.gov.</p>
          <p>Maintains a 3-year Low Impact Level Authority to Operate granted by GSA.</p>

          <h5 class="criteria-list-heading">Reliable and secure</h5>
          <p>Choose from different levels of administrator permissions, multiple levels of authentication, and protection against attacks.</p>
          <p>Seamlessly support your custom URLs with Federalist’s content delivery network, keeping your site up and running always.</p>
          <p>Drastically lower the probability and possibility of a security threat with static site hosting only.</p>

          <h5 class="criteria-list-heading">Self-controlled content and code</h5>
          <p>Deploy your content and code quickly and safely, all while under your control.</p>
          <p>Move your sites on or off of Federalist at any time.</p>
        </div>
      </div>
      <div class="usa-width-one-half">
        <img src="/images/illo-pushing-stone.png" srcset="/images/illo-pushing-stone@2x.png 2x">
        <h3>Other site publishers</h3>

        <div class="criteria-list criteria-list--clock">
          <h5 class="criteria-list-heading">Extensive security and compliance evaluations</h5>
          <p>Demands an impact level assessment, system security plan, additional monitoring setup, vulnerability scanning, privacy threshold analysis, documentation review, penetration testing, and more to obtain an Authroity to Operate.</p>
          <p>Requires an annual renewal if the system has a Moderate Impact.</p>

          <h5 class="criteria-list-heading">Additional plugins required</h5>
          <p>May require plug-ins to get the same benefits as Federalist, like a simple editorial and develop workflow or real-time publishing.</p>
          <p>All plug-ins must go through their own security evaluation.</p>

          <h5 class="criteria-list-heading">Less collaboration and low reusability</h5>
          <p>Learn on your own and contribute less to the public without open source code or software.</p>
        </div>
      </div>
    </section>
  </div>
  <div class="usa-grid">
    <hr class="hr-light">
    <section class="info-block">
      <div class="usa-width-one-whole">
        <h2>Customize and publish your site with confidence.</h2>
        <p>With Federalist, you can:</p>
        <ul class="checklist copy">
          <li>Monitor your content creation process</li>
          <li>Preview your site updates before making them live</li>
          <li>Publish completed content</li>
          <li>Make site updates quickly</li>
        </ul>
      </div>
      <div class="usa-width-one-whole">
        <h3>You don’t need to start from scratch with Federalist:</h3>
        <div class="usa-grid-full">
          <div class="usa-width-one-third">
            <div class="feature-group vertical">
              <div class="feature-image small">
                <img src="/images/icons/icon-rocket-color.svg" />
              </div>
              <div class="feature-text">
                <h4>Deploy quickly</h4>
                <p>If your code is already on GitHub, Federalist can securely deploy a static website from your repository in minutes.</p>
              </div>
            </div>
          </div>
          <div class="usa-width-one-third">
            <div class="feature-group vertical">
              <div class="feature-image small">
                <img src="/images/icons/icon-layout-color.svg" />
              </div>
              <div class="feature-text">
                <h4>Accessible templates</h4>
                <p><a href="https://federalist-docs.18f.gov/pages/using-federalist/templates/">Our 508-compliant website templates</a> help you kickstart your design process.</p>
              </div>
            </div>
          </div>
          <div class="usa-width-one-third">
            <div class="feature-group vertical">
              <div class="feature-image small">
                <img src="/images/icons/icon-badge-color.svg" />
              </div>
              <div class="feature-text">
                <h4>Customization</h4>
                <p>If you have an in-house design team, they can use a static site generator like Jekyll, Hugo, or their own tools to automatically deploy a custom site built just for you.</p>
              </div>
            </div>
          </div>
         </div>
        <div class="usa-grid-full">
          <div class="usa-width-one-third">
            <div class="feature-group vertical">
              <div class="feature-image small">
                <img src="/images/icons/icon-clockback-color.svg" />
              </div>
              <div class="feature-text">
                <h4>Simple version control</h4>
                <p>Use GitHub, a web-based hosting service with built-in version control, for real-time publishing and easy collaboration</p>
              </div>
            </div>
          </div>
          <div class="usa-width-one-third">
            <div class="feature-group vertical">
              <div class="feature-image small">
                <img src="/images/icons/icon-two-squares-color.svg" />
              </div>
              <div class="feature-text">
                <h4>Reusable and public</h4>
                <p>The code used for Federalist is open source and on the public domain for anyone to reuse. Share code with other agencies and vendors also using Federalist.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="usa-grid">
    <hr class="hr-light">
    <section class="info-block">
      <h2>It’s easy to get started.</h2>
      <p>We’ve streamlined our onboarding process to get you working quickly:</p>
      <ul>
        <li>No hidden charges.</li>
        <li>All the storage and bandwidth you need.</li>
        <li>Unlimited additional sites for your team or office.</li>
        <li>Two weeks to execute an average contract.</li>
      </ul>
    </section>
  </div>
  <div class="well">
    <center>
      <strong>Try a free test site to see if Federalist is right for you.</strong>
      <button class="callout-inline"><img src="/images/icons/icon-envelope.svg" /> Get in touch</button>
    </center>
  </div>
  <hr class="hr-light--inverted" />
  <div class="well">
    <div class="usa-grid federalist-hero">
      <h1>We’re here to help.</h1>
      <div class="usa-width-one-third">
        <p class="medium-copy">We offer <a href="https://federalist-docs.18f.gov/pages/using-federalist/instructional-demos/">basic training for both Federalist and GitHub</a>.</p>
      </div>
      <div class="usa-width-one-third">
        <p class="medium-copy"><a href="http://chat.18f.gov/">Join the Federalist community on Slack</a> to learn more from other users.</p>
      </div>
      <div class="usa-width-one-third">
        <p class="medium-copy">The Federalist team is continuously learning from your experiences. <a href="mailto:federalist-inquiries@gsa.gov">Share your feedback</a> so that we can help you avoid recurring problems.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
