<div id="glossary" class="glossary" aria-describedby="glossary-title" aria-hidden="true">
  <button title="close glossary" class="js-glossary-close close">
    <img src="/images/close.svg" alt="Hide glossary">
  </button>
  <h3>Glossary</h3>
  <label for="glossary-search">Filter glossary terms</label>
  <input id="glossary-search" class="glossary__search js-glossary-search" type="search" placeholder="e.g. Committee">
  <div class="glossary__content">
    <ul class="glossary__list js-glossary-list accordion--inverse"></ul>
  </div>
</div>