
{% extends "base.njk" %}

<script>
  if(window.location.hostname == 'federalist.18f.gov'){ 
    window.location.replace("https://federalist.18f.gov");
  }
  else{
   window.location.replace("http://localhost:4000");
  }
</script>

{% block main_content %}

  <div id="home" class="homepage">
    <div class="well">
      <div class="usa-grid federalist-hero">
        <div class="usa-width-full hero-heading">
          <h1>
            Loading....
          </h1>
        </div>
      </div>
    </div>
{% endblock %}
