
{% extends "base.njk" %}

{% block main_content %}

  <div id="home" class="homepage">
    <div class="well">
      <div class="usa-grid federalist-hero">
        <div class="usa-width-two-thirds hero-heading">
          <h1>
            Welcome to Federalist
          </h1>
        </div>
        <div class="usa-width-one-third usa-hero-callout">
          <hr class="hr-dark"></hr>
          {% if isAuthenticated %}
            <h5 class="contrast-heading"><a href="/auth/github">Login</a></h5>
          {% else %}
            <h5 class="contrast-heading"><a href="/auth/github">Login</a></h5>
          {% endif %}
          <hr class="hr-dark"></hr>
        </div>
      </div>
    </div>
{% endblock %}
