
{% extends "base.njk" %}

{% block main_content %}

  <div id="migrate">
    <div class="well">
      <div class="usa-grid">
        <div class="usa-width-one-fourth">
          &nbsp;
        </div>
        <div class="usa-width-one-half">
          <p>You have successfully migrated to cloud.gov authentication and the account associated with the email address you provided on the previous pages is now linked to your Federalist account.</p>
          <p>If a new cloud.gov account was created, you will receive an email invitation. Please click the link included in the email to complete the account creation process. </p>
          <p>Please log out by clicking the button and log back in with your cloud.gov account.</p>
          <a href="/logout" class="usa-button usa-button-primary">Logout</a>
        </div>
        <div class="usa-width-one-fourth">
          &nbsp;
        </div>
      </div>
    </div>
  </div>
{% endblock %}
