{% block navigation %}
<header class="usa-header usa-header--basic bg-white text-primary-dark">
    <div class="usa-nav-container border-base-light border-bottom">
      <div class="usa-navbar">
        <div class="usa-logo">
          <em class="usa-logo__text">
            <a href="/" title="cloud.gov Pages Home" aria-label="cloud.gov Pages Home">
              <img class="usa-icon width-15 desktop:width-card height-auto text-middle" src="/images/logo-pages.svg" x="0" y="0" height="26" width="135" />
            </a>
          </em>
        </div>
        <button type="button" class="usa-menu-btn">Menu</button>
      </div>
      <nav aria-label="Primary navigation," class="usa-nav">
        <button type="button" class="usa-nav__close">
          <img src="/img/usa-icons/close.svg" role="img" alt="Close" />
        </button>
        <ul class="usa-nav__primary usa-accordion">
          
          {% if isAuthenticated %}
            <li class="usa-nav__primary-item">
              <a href="/sites" class="usa-nav-link">
                <span>Sites</span>
              </a>
            </li>
            <li class="usa-nav__primary-item">
              <a href="/organizations" class="usa-nav-link">
                <span>Organizations</span>
              </a>
            </li>
          {% endif %}
          <li class="usa-nav__primary-item">
            <a href="{{ homepageUrl }}/documentation/" class="usa-nav-link">
              <span>Documentation</span>
            </a>
          </li>
          {% if isAuthenticated %}
            <li class="usa-nav__primary-item">
              <a href="/settings" class="usa-nav-link">
                <span>Settings</span>
              </a>
            </li>
          {% endif %}
            <li class="usa-nav__secondary-item desktop:display-none">
              <a href="https://cloud.gov/apps/" class="usa-nav-link">
                <span>Cloud.gov Apps</span>
              </a>
            </li>
            <li class="usa-nav__secondary-item desktop:display-none">
              <a href="https://workshop.cloud.gov/" class="usa-nav-link">
                <span>Workshop</span>
              </a>
            </li>
          {% if isAuthenticated %}
            <li class="usa-nav__secondary-item desktop:display-none">
              <a href="/logout" class="usa-nav-link">
                <span><strong>Log out</strong></span>
              </a>
            </li>
          {% else %}
            <li class="usa-nav__secondary-item desktop:display-none">
              <a href="/login" class="usa-nav-link">
                <span><strong>Log in</strong></span>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>
{% endblock %}
