<div class="site-banner">
  <div class="inner-content">
    <p>
      {{ appName }} is becoming
      <img
        alt="cloud.gov logo icon"
        src="/images/logos/cg-logo-icon.svg"
      />
      <a href="https://pages.cloud.gov">cloud.gov Pages!</a>
      Head there to create new sites or check out more about the transition <a href="https://cloud.gov/pages/federalist-migration/">here</a>.
      🎉
    </p>
  </div>
</div>
