<div class="site-banner">
  <div class="inner-content">
    <p>
      Federalist is becoming
      <img
        alt="cloud.gov logo icon"
        src="/images/logos/cg-logo-icon.svg"
      />
      <span>cloud.gov Pages!</span>
      Checkout more about the transition <a href="https://federalist.18f.gov/cloud-gov-pages">here</a>.
      🎉
    </p>
  </div>
</div>
