
{% extends "base.njk" %}

{% block main_content %}

  <div class="usa-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <main class="prose">
          <p>Pages is a U.S. General Services Administration federal government service, for official use by U.S. government employees and contractors working on U.S. government digital services.</p>
          <p>All use of Pages may be monitored, recorded, and subject to audit, by Pages operations staff and other federal government authorities. There is no expectation of privacy for users of this system. By continuing to use this system, you consent to your use being monitored and recorded.</p>
          <p>Unauthorized use is prohibited, and individuals found performing unauthorized activities are subject to disciplinary action including criminal prosecution.</p>
          <p>Acceptable uses of Pages include building and managing government digital services, making and trying test services to learn about how Pages works, and activities contributing to the development of Pages itself.</p>

          <p>If you have questions about these conditions, please email {{ supportEmail }}.</p>
        </main>
      </div>
    </div>
  </div>
{% endblock %}
