<div class="page-header">
  <h1>Recent builds for your site</h1>
</div>
<% _.each(site.builds, function(build) { %>
<% var panelClass = build.state === 'error' ? 'danger' :
  build.state === 'success' ? 'success' : 'info'; %>
<div class="panel panel-<%- panelClass %>">
  <div class="panel-heading">
    <%- build.branch %> (<%- build.username %>)
    <span class="pull-right"><%- build.completedAtFormatted || 'Publishing...' %></span>
  </div>
  <div class="panel-body"><%
    build.state === 'error' ? print(build.error) :
    build.state === 'processing' ? print('This build is in progress.') :
    print('This build completed successfully.')
  %></div>
</div>
<% }); %>
