<div class="usa-grid">
  <div class="usa-width-two-thirds">
    <h1>Your sites</h1>
  </div>
  <div class="usa-width-one-third">
    <% if (sitesCount) { %>
      <a href="#new" class="usa-button usa-button-big pull-right" alt="add a new site" role="button">Add a new site</a>
    <% } %>
  </div>
</div>

<% if (sitesCount === 0) { %>
  <div class="usa-grid">
    <p>Welcome! You don't have any sites registered with Federalist just yet. Let's go ahead and change that.</p>
    <a class="usa-button usa-button-big" href="#new" role="button">Add your first site now</a>
  </div>
<% } else { %>
  <div class="usa-grid">
    <div class="usa-accordion-bordered">
      <ul class="usa-unstyled-list sites"></ul>
    </div>
  </div>
<% } %>
