<li data-site-id="<%- id %>">
  <div class="site-title">
    <%- owner %> / <%- repository %>
  </div>
  <div class="site-publishing-status">
    <%= statusLabel %>
  </div>
  <div class="usa-accordion-content">
    <% if (!builds.length || !lastBuildTime) { %>
    <p>This site has not been published yet. Please wait while the site is built.</p>
    <% } else { %>
    <div class="usa-grid">
      <div class="usa-width-one-half">
        <p>This site was last published at <%- lastBuildTime %></p>
      </div>
      <div class="usa-width-one-half">
        <div class="pull-right">
          <a href="#site/<%- id %>/logs" class="usa-button usa-button-outline" data-action="site-builds" alt="show log of builds for <%- repository %>">Log</a>
          <a href="#site/<%- id %>/settings" class="usa-button usa-button-outline" data-action="edit-site-settings" alt="change settings for <%- repository %>">Settings</a>
          <a href="/#edit/<%- owner %>/<%- repository %>/<%- defaultBranch %>" class="usa-button usa-button-outline" data-action="edit-site-content" alt="edit the site <%- repository %>">Edit</a>
          <% if (builds.length) { %>
          <a href="<%- viewLink %>" class="usa-button usa-button-outline" alt="go to the site <%- repository %> in a new tab" target="_blank">View</a>
          <% } %>
        </div>
      </div>
    </div>
    <% if (_(builds).filter(function(build) {
        return build.branch !== defaultBranch;
      }).length) { %>
    <h3>Recent drafts</h3>
    <% } %>
    <ul class="list-unstyled recent-drafts">
      <%
      _(builds).chain().filter(function(build) {
        return build.branch !== defaultBranch;
      }).unique(function(build) {
        return build.branch;
      }).last(5).value().reverse().forEach(function(build, index) {
      %>
      <div class="usa-grid">
        <li>
          <div class="usa-width-one-half"><%- build.branch %></div>
          <div class="usa-width-one-half">
            <div class="pull-right">
              <% if (build.state === 'success') { %>
              <a href="/#edit/<%- owner %>/<%- repository %>/<%- build.branch %>" class="usa-button usa-button-outline" alt="edit the site <%- repository %>">Edit draft</a>

              <a href="/preview/<%- owner %>/<%- repository %>/<%- build.branch %>/" class="usa-button usa-button-outline" alt="go to the site <%- repository %> in a new tab" target="_blank">View draft</a>
              <% } else if (build.status === 'error') { %>
              <code><%- build.error %></code>
              <% } %>
            </div>
          </div>
        </li>
      </div>
      <% }); %>
    </ul>
    <% } %>
  </div>
</li>
