<div class="usa-grid  header">
  <div class="usa-width-two-thirds">
    <img class="header-icon" src="/images/website.svg" alt="Websites icon">
    <div class="header-title">
      <h1><%- site.repository %></h1>
      <p>Logs</p>
    </div>
  </div>
  <div class="usa-width-one-third">
    <a class="usa-button usa-button-big pull-right icon icon-view icon-white"
        href="<%- site.viewLink %>"
        alt="View this website" role="button" target="_blank">View Website</a>
  </div>
</div>
<div class="usa-grid">
  <table class="usa-table-borderless build-log-table">
    <thead>
      <tr>
        <th scope="col">Branch</th>
        <th scope="col">User</th>
        <th scope="col">Completed</th>
        <th scope="col">Duration</th>
        <th scope="col">Message</th>
      </tr>
    </thead>
    <tbody><% _.each(site.builds, function(build) { %>
      <tr class="usa-alert-<%- build.panelClass %>">
        <td scope="row"><%- build.branch %></td>
        <td><%- build.username %></td>
        <td title="<%- build.completedAt %>"><%- build.completedAtFormatted %></td>
        <td title="<%- build.duration %> second<% (build.duration !== 1) && print('s') %>">
          <%- build.durationFormatted %></td>
        <td><%
          build.state === 'error' ? print(build.error) :
          build.state === 'processing' ? print('This build is in progress.') :
          print('This build completed successfully.')
        %></td>
      </tr>
    <% }); %></tbody>
  </table>
</div>
