<div class="usa-grid site">
  <div class="usa-width-one-sixth" id="fool">
    <ul class="site-actions">
      <li><a class="icon icon-pages" href="/#site/<%- id %>/">Pages</a></li>
      <li><a class="icon icon-media">Media<a/></li>
      <li><a class="icon icon-settings" href="/#site/<%- id %>/settings">Settings</a></li>
      <li><a class="icon icon-logs" href="/#site/<%- id %>/logs">Logs</a></li>
    </ul>
  </div>
  <div class="usa-width-five-sixths site-main" id="pages-container">

  </div>
</div>
