<div class="panel panel-info" id="upload-panel">
  <div class="panel-heading">Select an image</div>
  <div class="panel-body">
    <div class="image-cards">
      <% var scrollWidth = (assets.length + 1) * 160; %>
      <div class="scroll" style="width: <%- scrollWidth %>px;">
        <div class="image-card" id="upload-card">
          <label for="file">Upload a new one.</label>
          <input type="file" id="asset" name="asset">
        </div>
        <% if (assets.length > 0) { %>
          <% _.forEach(assets, function (a) { %>
            <% var x = a.name.split('.'); %>
            <div class="image-card existing">
              <img src="<%- a.download_url %>" title="<%- a.name %>">
              <% if (x[0].length > 12) { %>
                <% var name = [x[0].slice(0, 6), '...', x[0].slice(-4), '.', x[1]].join(''); %>
                <span><%- name %></span>
              <% } else { %>
                <span><%- a.name %></span>
              <% } %>
            </div>
          <% }) %>
        <% } %>
      </div>
    </div>
    <div>
      <a class="btn btn-danger" data-action="image-cancel" role="button">Cancel</a>
      <a class="btn btn-primary" data-action="image-confirm" role="button">Use Image</a>
      <span class="label" id="save-status-result"></span>
    </div>
  </div>
</div>
