<div class="editor">
  <div class="row">
    <div class="col s8">
      <input type="text" id="save-content-message" value="Some changes to <%= fileName %>">
      <a class="waves-effect waves-light btn" id="save-content-action">Save</a>
      <span id="save-status-result"></span>
    </div>
    <div class="col s4">
      <div class="card grey lighten-1">
         <div class="card-content">
           <p>Make this a helpful save message for yourself and future collaborators.</p>
         </div>
       </div>
    </div>
  </div>
  <button data-show-area id="showContent">Content</button>
  <button data-show-area id="showMetaData">Settings</button>
  <form id="metadata" style="display:none;">
    <h2>Settings</h2>
    <div class="meta-data-rows">
      <% _.each(frontMatter, function(v, k) { %>
        <div class="row">
          <div class="col s5"><input type="text" class="front-matter-key" value="<%= k %>"></div>
          <div class="col s5"><input type="text" class="front-matter-value" value="<%= v %>"></div>
          <div class="col s2"><button class="front-matter-delete">Delete</button></div>
        </div>
      <% }); %>
    </div>
    <button id="add-front-matter-row">Add key/value pair</button>
  </form>
  <div class="row">
    <div class="col s12">
      <form id="content">
        <h2>Content</h2>
        <textarea class="js-st-instance"></textarea>
      </form>
    </div>
  </div>
</div>
