<!-- <div class="row editor-preload" style="display: none;">
  <div class="col s12">
    <div class="preloader-wrapper big active">
     <div class="spinner-layer spinner-blue-only">
       <div class="circle-clipper left">
         <div class="circle"></div>
       </div><div class="gap-patch">
         <div class="circle"></div>
       </div><div class="circle-clipper right">
         <div class="circle"></div>
       </div>
     </div>
    </div>
  </div>
  <div class="col s12">
    <p>Loading file from Github</p>
  </div>
</div> -->
<div class="row">
  <h5 id="edit-current-path">Current path location</h5>
</div>
<div class="row" id="edit-content">

</div>
