<div class="panel panel-info" id="save-panel" style="display: none;">
  <div class="panel-heading">Save your changes</div>
  <div class="panel-body">
    <form>
      <div class="form-group">
        <label for="save-content-message">Make this a helpful save message for yourself and future collaborators.</label>
        <input type="text" class="form-control" id="save-content-message" value="Some changes to <%= fileName %>">
      </div>
      <a class="btn btn-danger" data-action="save-cancel" role="button">Cancel</a>
      <a class="btn btn-primary" data-action="save-confirm" role="button">Save</a>
      <span class="label" id="save-status-result"></span>
    </form>
  </div>
</div>

<div class="editor">

  <% if (showContent) { %>
  <ul class="nav nav-tabs">
    <li role="presentation"
        data-tab <% if (activeTab == 'content') { %> class="active" <% } %> >
      <a data-tab-show="content">Content</a>
    </li>
    <li role="presentation"
        data-tab <% if (activeTab == 'metadata') { %> class="active" <% } %> >
      <a data-tab-show="metadata">Settings</a>
    </li>
  </ul>

  <form id="content" <% if (activeTab != 'content') { %> style="display: none;" <% } %> >
    <h2>Content</h2>
    <div data-target="content"></div>
  </form>

  <% } %>

  <form id="metadata" <% if (activeTab != 'metadata') { %> style="display: none;" <% } %> >
    <h2>Settings</h2>
    <div data-target="metadata"></div>
  </form>

</div>
