<div class="editor">


  <div class="usa-grid">
    <div class="usa-grid-one-whole">
      <form id="content">
        <div data-target="content"></div>
      </form>
    </div>
  </div>

  <div class="usa-grid">
    <div class="usa-grid-one-whole">
      <form id="metadata">
        <div data-target="metadata"></div>
      </form>
    </div>
  </div>

  <div class="usa-alert usa-alert-info">
    <div class="panel-heading">Save your changes</div>
    <div class="panel-body">
      <form>
        <div class="form-group">
          <label for="save-content-message">Make this a helpful save message for yourself and future collaborators.</label>
          <input type="text" class="form-control" id="save-content-message" value="Some changes to <%= fileName %>">
        </div>
        <a class="usa-button usa-button-primary" data-action="save-content" role="button">Save</a>
        <span class="usa-label" id="save-status-result" style="display:none" ></span>
      </form>
    </div>
  </div>

</div>
