@import "_variables.scss";

.accordion__title {
  cursor: pointer;
  color: $link-color;
  text-decoration: underline;
  text-decoration-skip: ink;

  &:hover {
    text-decoration: none;
    color: $link-color-active;
  }
}