a {
  text-decoration-skip: ink;
}
a:visited {
  color: $link-color;
}
a:hover {
  text-decoration: none;
}

button,
.usa-button,
a.usa-button,
.usa-button[role=button] {
  border-radius: 0;
  background-color: $button-color;
  font-weight: 400;
  &:hover {
    background-color: $button-color-active;
  }
}
