a {
  text-decoration-skip: ink;
}
a:visited {
  color: $link-color;
}
a:hover {
  text-decoration: none;
}

button,
.usa-button,
a.usa-button,
.usa-button[role=button] {
  background-color: $button-color;
  border-radius: 0;
  font-weight: 400;
  &:hover {
    background-color: $button-color-active;
  }
  &.usa-button-secondary {
    background-color: $color-white;
  }
}
.button-add-website {
  svg {
    margin-right: .6rem;
  }
}
