a {
  text-decoration-skip: ink;
}
a:visited {
  color: $link-color;
}
a:hover {
  text-decoration: none;
}

button,
.usa-button,
a.usa-button,
.usa-button[role=button] {
  background-color: $button-color;
  border-radius: 0;
  font-weight: 400;
  &:hover {
    background-color: $button-color-active;
  }
  &.usa-button-secondary {
    background-color: $color-white;
  }
}
.button-add-website {
  background-image: url('/images/icon-plus.svg');
  background-repeat: no-repeat;
  background-position: 15px center;
  padding-left: 34px;
}
