.upload-alert {
  margin-bottom: 1.5em;
}

.usa-alert-home {
  margin-top: 0;
}

.usa-alert-delete {
  background-color: $alert-delete-bg-color;

  button {
    margin-left: 0.5em;
  }
}

.usa-alert.no-icon {
  background-image: none;

  .usa-alert-body {
    padding-left: 0;
  }
}

/*
 * Borrowed from USWDS 1.2.1
 * TODO: remove once USWDS dependency is upgraded
 */
.usa-alert-body p:last-child {
  margin-bottom: 0.8rem;
}

.usa-alert-body p:first-child {
  margin-top: 0.8rem;
}
/* end borrowing */
