
.usa-width-five-sixths :first-child.usa-alert {
  margin-top: 1.5rem;
}

.usa-alert {
  margin-bottom: 1.5rem;
}

.usa-alert-home {
  background: $header-bg-color;
  padding-bottom: 1.5rem;

  .usa-alert {
    margin: 0 auto;
    max-width: 980px;
  }
}
