.usa-banner {
  background-color: #f1f1f1;
  color: black;
  font-size: 12px;
  padding: 0;
}

.usa-banner-header {
  font-size: $base-font-size;

  p {
    display: inline-block;
//    margin-top: -5px;
    vertical-align: initial;
    -webkit-font-smoothing: antialiased;

    @media screen and (max-width: $mobile-size) {
      margin-top: -20px;
    }
  }

  img {
//    float: left;
    margin-right: 1rem;
    margin-top: 3px;
    width: initial;

    @media screen and (min-width: $lesser-mobile-size) {
      margin-right: 0.7rem;
      width: initial;
    }
  }
  
  
  .usa-banner-inner{
    line-height: 0.5;
    padding: 3px 30px 3px;
    
    .x-small{
      padding: 0;
      margin: 0;
      font-size: 1.2rem !important;
    }
  }
  
}
