.build-log {
  border: 1px solid lightgrey;
  padding: .5rem;
  font-size: 1.5rem;
  overflow: scroll;
  resize: both;
  height: 600px;
  width: 100%;

  .log-source-header {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 1rem;
  }
}

