$icon-size: 26px;

.checklist {
  list-style: none;
  margin-bottom: $spacing-lg;
  padding-left: 0;

  li {
    background: url('/images/icons/icon-checkbox.svg') no-repeat;
    background-position: left;
    padding-left: $icon-size;
  }
}
