.sites-list {
  width: 100%;

  .sites-list-item {
    align-items: center;
    background-color: $secondary-background-color;
    display: block;
    margin-bottom: .5rem;
    padding: 1em;
    width: 100%;
  }
}

@media screen and (min-width: 700px) {
  .sites-list .sites-list-item {
    display: flex;
  }
}

.sites-list-item-text,
.sites-list-item-actions {
  flex-grow: 1;
}

.sites-list-item-text {
  .site-list-item-title {
    font-weight: normal;
    margin: 0;
  }

  p {
    margin: 0;
  }

  .repo-verification {
    color: red;
  }
}

h2.site-list-item-title {
  font-size: $h4-font-size;
}

.sites-list-item-text h3 {
  font-size: $h5-font-size;
}

.sites-list-item-actions {
  margin-top: 1rem;
  text-align: left;
  a {
    padding-right: 22px;
  }
  > :first-child {
    margin-left: 0;
  }
}

@media screen and (min-width: 700px) {
  .sites-list-item-actions {
    text-align: right;
  }
}
