.feature-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;

  &.vertical {
    flex-direction: column;

    .feature-image {
      padding: $spacing-sm;
    }

    .feature-text {
      margin-left: 0;
    }

    @media screen and (max-width: $mobile-size) {
      .feature-image {
        margin: 0;
      }
    }
  }

  &:after {
    content: ' ';
    clear: both;
    display: table;
  }

  &.large {
    .feature-image {
      height: 200px;
      width: 200px;
    }

    .feature-text {
      margin-left: $spacing-lg;

      @media screen and (max-width: $mobile-size) {
        margin-left: 0;
      }
    }
  }

  .feature-image {
    $size: 160px;
    align-items: center;
    background-color: $hero-bg-color;
    border-radius: 50%;
    display: flex;
    height: $size;
    justify-content: center;
    margin: 0 $spacing-sm 0 0;
    padding: $spacing-lg;
    width: $size;

    &.light {
      background-color: $white;
    }

    &.small {
      $size: 60px;
      height: $size;
      width: $size;
    }


    img {
      width: 80%;
    }

    @media screen and (max-width: $mobile-size) {
      margin: auto;
    }
  }

  .feature-text {
    margin-left: $spacing-med;
    margin-top: 2%;

    @media screen and (max-width: $mobile-size) {
      margin-left: 0;
      width: 100%;
    }
  }

  @media screen and (max-width: $mobile-size) {
    display: block;
  }
}
