.usa-width-two-thirds .figure-group {
  margin-right: 0;
}

@media screen and (min-width: 600px) {
  .usa-width-two-thirds:last-child {
    margin: 0 auto;
  }
}

.figure-group {
  @media screen and (max-width: $mobile-size) {
    margin: 0 auto;
  }
}

.figure {
  margin: 0;

  img {
    filter: brightness(95%);
  }

  figcaption {
    margin-bottom: 6px;
    margin-top: 20px;
    text-align: left;

    @media screen and (max-width: $mobile-size) {
      text-align: center;
    }

    h6 {
      font-weight: 700;
      margin-bottom: 6px;
      margin-top: 0px;
      text-transform: none;
    }

    p {
      margin: 0;
    }
  }
}
