.flexbox-grid {
  align-content: flex-start;
  display: block;
  display: flex;
  flex-wrap: wrap;

  .flexbox-item {
    align-items: start;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}
