.usa-footer-primary-section {
  background-color: $footer-primary-bg-color;

  .usa-unstyled-list {
    text-align: right;

    li {
      display: inline-block;
      float: none;
      width: auto;
    }
  }
}

.usa-footer-contact-links {
  padding-top: 2rem;
}

.usa-footer {
  position: inherit;
  width: 100%;
  bottom: 0;
  .usa-footer-primary-link {
    color: $color-white;
    font-weight: $font-weight-normal;
    -webkit-font-smoothing: antialiased;
    width: auto;
  }
}

.usa-footer-secondary_section {
  background-color: $footer-bg-color;
}

.usa-footer-logo {
  text-align: right;
}

.usa-footer-logo-img {
  float: none;
  height: 70px;
  vertical-align: middle;
  width: 70px;

  &.pages-logo {
    height: 50px;
    margin-right: 25px;
    width: 50px;
  }
}

.usa-footer-contact-links {
  text-align: left;

  a {
    color: $color-white;
  }
}

.usa-footer-contact_info {
  display: block;
  margin-bottom: 1rem;

  p {
    font-family: inherit;
    -webkit-font-smoothing: antialiased;
  }

  img {
    margin-right: 8px;
    vertical-align: middle;
    width: 17px;
  }
}

li.usa-footer-primary-content {
  border: none !important; // override uswds border on :last-child
  margin-left: 5%;
}

@media screen and (max-width: 600px) {
  // With all these custom rules, we may just want to ditch USWDS for the
  // footer and make these custom classes
  .usa-footer-primary-section {
    .usa-unstyled-list {
      text-align: left;

      .usa-footer-primary-content {
        clear: both;
        display: block;
        float: left;

        &:first-of-type {
          margin-top: 4rem;
        }

        &:last-of-type {
          margin-bottom: 4rem;

          .usa-footer-primary-link {
             padding-bottom: 0;
           }
        }

        .usa-footer-primary-link {
          padding-top: 0;
        }
      }
    }
  }
}

.usa-footer .usa-nav-primary {
  display: block;
  margin-bottom: 1rem;

  @media screen and (min-width: 600px) {
    padding-left: 1rem;
  }

  li .usa-nav-link {
    padding-left: 0;
    padding-right: 1rem;
    font-size: 1.75rem;

    &:hover {
      border: none;
      span {
        border: none;
      }
    }
  }
}
