.usa-footer-primary-section {
  background-color: $footer-primary-bg-color;

  .usa-unstyled-list {
    text-align: right;

    li {
      display: inline-block;
      float: none;
      width: auto;
    }
  }
}

.usa-footer-contact-links {
  padding-top: 2rem;
}

.usa-footer {
  .usa-footer-primary-link {
    -webkit-font-smoothing: antialiased;
    color: $color-white;
    width: auto;
  }
}

.usa-footer-secondary_section {
  background-color: $footer-bg-color;
}

.usa-footer-logo {
  text-align: right;
}

.usa-footer-logo-img {
  float: none;
  height: 70px;
  vertical-align: middle;
  width: 70px;

  &.federalist-logo {
    height: 50px;
    margin-right: 25px;
    width: 50px;
  }
}

.usa-footer-contact-links {
  text-align: left;

  a {
    color: $color-white;
  }
}

.usa-footer-contact_info {
  display: block;
  margin-bottom: 1rem;

  p {
    font-family: inherit;
    font-size: 1.7rem;
    -webkit-font-smoothing: antialiased;
  }

  svg {
    fill: $color-white;
    margin-right: 8px;
    vertical-align: middle;
    width: 17px;
  }
}
@media screen and (min-width: 600px) {
  .usa-width-one-sixth:nth-child(3n) {
    margin-right: 4.82916%;
  }
}

li.usa-footer-primary-content,
li.usa-footer-primary-content:last-child {
  border: none;
}

@media screen and (max-width: 600px) {
  .usa-footer-primary-section {
    .usa-unstyled-list {
      text-align: left;

      .usa-footer-primary-content {
        clear: both;
        display: block;
        float: left;

        &:first-of-type {
          margin-top: 4rem;
        }

        &:last-of-type {
          margin-bottom: 4rem;

          .usa-footer-primary-link {
             padding-bottom: 0;
           }
        }

        .usa-footer-primary-link {
          padding-top: 0;

        }
      }
    }
  }
}
