label,
legend {
  font-weight: 800;
}

fieldset {
  margin-bottom: 2rem;
}

legend {
  font-size: 2rem;
  margin-bottom: 1rem;
}

label {
  margin-top: 2rem;
}

@media screen and (min-width: 600px) {
  form {
    max-width: 100%;
  }
}

.settings-form {
  button[type='submit'] {
    display: inline;
  }

  .well {
    margin-bottom: 1.5rem;
    margin-left: 2rem;
  }
}

.form-control-mono {
  font-family: monospace;
}

.settings-form-advanced {
  select {
    margin-bottom: 2rem;
  }
}

// used to fix the padding on the advanced settings form section
.usa-accordion-content {
  padding: 1.5rem 0;
}

input,
textarea,
select {
  border: 3px solid $form-input-border-color;
}
.usa-input-error {
  margin-top: 0;
  padding-top: 0;
  label {
    margin-top: 2rem;
  }
}

.update-user-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;

  fieldset {
    margin: 0;
    display: inline;
  }

  select {
    height: 3.6rem;
    padding-bottom: 1px;
    padding-top: 1px;
  }
}