label,
legend {
  font-weight: 800;
}

fieldset {
  margin-bottom: 2rem;
}

legend {
  font-size: 2rem;
  margin-bottom: 1rem;
}

label {
  margin-top: 2rem;
}

@media screen and (min-width: 600px) {
  form {
    max-width: 100%;
  }
}

.settings-form {
  button[type='submit'] {
    display: inline;
  }

  .well {
    margin-left: 2rem;
  }
}

.form-control-mono {
  font-family: monospace;
}

.settings-form-advanced {
  select {
    margin-bottom: 2rem;
  }
}

// used to fix the padding on the advanced settings form section
.usa-accordion-content {
  padding: 1.5rem 0;
}

input,
textarea,
select {
  border: 3px solid #ccc;
}
