label,
legend {
  font-size: inherit;
  font-weight: 800;
  text-transform: capitalize;
}

label,
fieldset {
  margin-top: 2rem;
}

input[type="text"],
input[type="url"],
textarea {
  border: 3px solid #ccc;
}

input[type="text"]:focus,
textarea:focus {
  background-color: white;
  border: 1px solid $button-color;
  box-shadow: 0;
}

select {
  background-color: $secondary-background-color;
  border: 0;
}

@media screen and (min-width: 600px) {
  form {
    max-width: 100%;
  }
}

.settings-form {
  button[type="submit"] {
    display: inline;
  }
}
