.usa-navbar {
  height: auto;
  border: none;
}

.usa-nav-container {
  .usa-menu-btn {
    margin-top: 10px;
  }

  &:after {
    clear: both;
    content: ' ';
    display: table;
  }
}

.usa-header {
  background-color: $header-bg-color;
  border-bottom: none;
  min-height: 4rem;
  padding: $spacing-thin 0 $spacing-thin 0;
  z-index: auto;

  .usa-logo {
    margin-top: 5px;
    position: relative;
  }
}

.usa-nav {
  background-color: $header-bg-color;

  @media screen and (min-width: 951px) {
    padding-top: 0;
  }
}

.usa-logo-text {
  font-size: $h2-font-size;
  @media screen and (min-width: 951px) {
    line-height: 1;
  }
}

.usa-nav-primary {
  li {
    .usa-nav-link {
      color: $white;
      font-size: 1.5rem;
      font-weight: $font-weight-normal;
      &:visited {
        color: $white;
      }
      &:hover {
        span {
          border-color: $white;
          border-width: 3px;
        }
      }

      @media screen and (max-width: 950px) {
        &:hover {
          background-color: initial;
          text-decoration: underline;
        }
      }

      @media screen and (min-width: 951px) {
        &:hover {
          color: $white;
        }
      }
    }

    a {
      @media screen and (min-width: 951px) {
        padding: 0;
        padding-left: 1.8rem;
      }
    }
  }

  .nav-action {
    @media screen and (min-width: 951px) {
      margin-left: $spacing-lg;
    }
  }

  .usa-button {
    background: $button-color;
    border-radius: 2px 2px;
    font-size: $base-font-size;
    padding: 1rem 2rem;

    &:hover {
      background-color: $white;
    }
  }

  .usa-button-white {
    background-color: $white;
    color: $body-copy-color;

    &:hover {
      background-color: $color-gray-lightest;
      color: $body-copy-color;
    }
  }
}

nav li:before {
  content: '';
  display: none;
}

nav li a,
nav li a:visited,
nav li a:hover,
nav li a:visited {
  color: $white;
}

.usa-logo a {
  background-image: url('/images/logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent;
  display: inline-block;
  height: auto;
  width: 100px;
}

@media screen and (min-width: 951px) {
  .usa-logo a {
    width: $logo-width;
  }
}

.header-title {
  h1 {
    font-size: $h4-font-size;
    margin: 0;
  }

  p {
    line-height: 1em;
    margin: 0;
  }
}

.header .usa-button {
  margin-top: 0;
}

.header-actions {
  text-align: right;
  a {
    display: inline-block;
    margin-left: 2rem;
  }
  > :first-child {
    margin-left: 0;
  }
  > :last-child {
    margin-right: 0;
  }

  button {
    margin-right: 0;
  }
}
.page-header,
.usa-grid .page-header {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.usa-menu-btn {
  font-size: $base-font-size;
  height: 3rem;
  line-height: 2rem;
  margin-right: $spacing-med;
}
