.usa-banner {
  p {
    font-family: inherit;
    font-size: inherit;
  }
}
.usa-navbar {
  height: auto;
}
.usa-header {
  background-color: $header-bg-color;
  border-bottom: none;
  min-height: 4rem;

  .usa-logo {
    top: -.45rem;
  }

 }
.usa-nav {
  background-color: transparent;
  padding-top: 0;
}
.usa-nav-primary {
  li {
    a {
      font-size: 1.7rem;
      font-weight: 600;
      color: #fff;
      &:visited {
        color: #fff;
      }
      &:hover {
      color: #fff;
        span {
          border-color: #fff;
        }
      }
    }
  }
  .usa-button {
    padding: 1rem 2rem;
    background: $button-color;
    &:hover {
      background-color: $button-color-active;
    }
  }
}

$nav-padding: .45em;

nav {
  padding-bottom: $nav-padding;
  padding-top: $nav-padding;
}

.nav-elements {
  display: flex;
  min-height: 50px;
}

.logo {
  flex-grow: 3;
}

.navbar-links {
  flex-grow: 1;
}

.navbar-links li:after {
  margin-bottom: 0;
}

nav ul {
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
}

@media screen and (max-width: 600px) {
  nav li:first-of-type {
    display: none;
  }
}

nav li:before {
  content: '';
  display: none;
}

nav li {
  display: inline-block;
  flex-grow: 1;
  list-style-type: none;
  text-align: right;
}

nav li a,
nav li a:visited,
nav li a:hover,
nav li a:visited {
  color: white;
}

$logo-width: 140px;
$logo-height: 29px;

.logo {
  align-items: center;
  display: flex;
}

.usa-logo a {
  background-image: url('/images/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent;
  display: inline-block;
  height: auto;
  width: 100px;
  background-position: center;

}
@media screen and (min-width: 951px) {
  .usa-logo a {
    height: $logo-height;
    width: $logo-width;
  }
}
.header-icon {
  display: inline-block;
  margin-left: -60px;
  margin-right: 10px;
  vertical-align: text-top;
  height: 36px;
}

.header-title {
  h1 {
    font-size: 2.8rem;
    line-height: 1.8rem;
    margin: 0;
    padding-left: 60px;
  }

  p {
    line-height: 1em;
    margin: 0;
  }
}

.header .usa-button {
  margin-top: 0;
}

.header-actions {
  text-align: right;
  a {
    display: inline-block;
    margin-left: 2rem;
  }
  :last-child {
    margin-right:0;
  }
}
/// New styles Scott
.page-header,
.usa-grid .page-header {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}
