.hero {
  background-color: $hero-bg-color;
  background-image: url('/images/essay-blue.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: $hero-text-color;
}
.usa-section-dark h1 {
  color: #fff;
}
.usa-section-dark .usa-hero-link {
  color: #fff;
}

.hero .usa-grid {
  padding-bottom: 3em;
  padding-top: 3em;
}

.hero h1 {
  font-size: 3rem;
  margin-top: 0;
}

.hero .usa-button.usa-button-outline {
  background-color: transparent;
  border: 1px solid $hero-text-color;
  box-shadow: none;
  color: $hero-text-color;
}

.hero .usa-button.usa-button-outline:hover {
  background-color: $hero-text-color;
  color: $hero-bg-color;
}

.usa-grid .home-feature {
  margin-bottom: $home-feature-margin;
  margin-top: $home-feature-margin;
}
.homepage .usa-section {
  background-color: transparent;
}
.lets-talk-section {
  background-color: $well-bg-color;
  padding: 5rem 0;
}
