.usa-section-dark h1 {
  color: #fff;
}
.usa-section-dark .usa-hero-link {
  color: #fff;
}

.hero .usa-grid {
  padding-bottom: 3em;
  padding-top: 3em;
}

.hero .usa-button.usa-button-outline {
  background-color: transparent;
  border: 1px solid $hero-text-color;
  box-shadow: none;
  color: $hero-text-color;
}

.hero .usa-button.usa-button-outline:hover {
  background-color: $hero-text-color;
  color: $hero-bg-color;
}

.usa-grid .home-feature {
  margin-bottom: $home-feature-margin;
  margin-top: $home-feature-margin;
}
.homepage .usa-section {
  background-color: transparent;
}
.lets-talk-section {
  background-color: $well-bg-color;
  padding: 5rem 0;
}

.features {
  margin-left: $spacing-xl;
  margin-right: $spacing-xl;
  padding-top: $spacing-xl;
}

.feature-group {
  margin-bottom: 60px;

  &:after {
    content: ' ';
    clear: both;
    display: table;
  }

  .feature-image {
    background-color: $hero-bg-color;
    border-radius: 50% 50%;
    padding: $spacing-lg;

    &.light {
      background-color: $white;
    }
  }

  .feature-text {
    margin-top: 2%;
  }
}

.info-block {
  padding-bottom: $spacing-xxl;
  padding-top: $spacing-xxl;

  .usa-grid {
    padding: 0;
  }

  .info-image {
    float: right;
  }
}

.figure-group {
  .figure-list {
    list-style: none;
    margin-top: $spacing-sm;
    padding: 0;

    li {
      display: inline-block;
      padding-right: 20px;
    }
  }

  .figure {
    margin: 0;

    figcaption {
      p {
        margin: 0;
      }
    }
  }
}
