
.repo-link {
  svg {
    fill: $link-color;
    margin-left: 0.4rem;
    stroke-width: 0;
    vertical-align: middle;
    width: 14px;
  }

  &:hover svg {
    fill: $link-color-active;
  }

}

.view-site-link {
  svg {
    fill: $link-color;
    margin-left: 0.5rem;
    vertical-align: middle;
    width: 13px;
  }

  &:hover svg {
    fill: $link-color-active;
  }

}
