$color-blue: #1c5982;
$color-blue-dark: #112e51;
$color-blue-bright: rgb(5, 104, 253);


$link-color: $color-blue;
$link-color-active: $color-blue-dark;

.repo-link {
  svg {
    color: currentColor;
    fill: currentColor;
    margin-right: 0.4rem;
    stroke-width: 0;
    vertical-align: middle;
    width: 14px;
  }

  &:hover svg {
    fill: currentColor;
  }

}

.view-site-link {
  svg {
    color: currentColor;
    fill: currentColor;
    margin-right: 0.4rem;
    vertical-align: middle;
    width: 13px;
  }

  &:hover svg {
    fill: currentColor;
  }

}
.spinner-icon {
  overflow: visible !important;
  position: relative;
  .spinner {
    animation: rotate-spinner 3s infinite linear;
    transform-origin: center;
  }
  .mask {
    color: #fff;
    opacity: .9;
    animation: rotate-mask 1s infinite linear;
    transform-origin: center;
  }
}
@keyframes rotate-spinner {
	0% {
		transform: rotate(0deg);
  }
  50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes rotate-mask {
	0% {
		transform: rotate(0deg);
  }
  50% {
		transform: rotate(-180deg);
  }
	100% {
		transform: rotate(-360deg);
  }
}
.external-link {
  line-height: 1em;
  svg {
    color: currentColor;
    fill: currentColor;
    margin-left: 0.4rem;
    stroke-width: 0;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    margin-bottom: 2px;
  }
}
.filter-close-button {
  svg {
    color: currentColor;
    margin-left: 0.6rem;
    stroke-width: 0;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    background: currentColor;
    border-radius: 100%;
    border: 1px solid currentColor;
    path {
      fill: #e1f3f8;
    }
  }
}