.usa-label {
  text-transform: capitalize;
}

.label-success {
  background-color: $label-success-bg-color;
}

.label-danger {
  background-color: $label-danger-bg-color;
}

.label-warning {
  background-color: $label-warning-bg-color;
}

h4.label {
  margin-bottom: 0;
}
