@mixin flex-list {
  display: flex;
  list-style: none;
  margin-top: $spacing-thin;
  padding: 0;

  li, .list-item {
    .heading {
      font-weight: bold;
      margin-bottom: $spacing-sm;
    }

    padding-right: 20px;
    width: 33%;
  }

  @media screen and (max-width: $mobile-size) {
    display: block;

    li, .list-item {
      display: block;
      margin-bottom: $spacing-lg;
      width: 100%;
    }
  }
}

.figure-list {
  @include flex-list;

  &.mobile-center {
    @media screen and (max-width: $mobile-size) {
      text-align: center;
    }
  }
}
