.log-tools {
  display: flex;
  justify-content: flex-end;
  text-align: right;

  a {
    display: block;
  }

  :last-child {
    margin-right: 0;
  }

  li {
    display: inline-block;
    margin-left: 20px;
  }

  + .loader {
    margin-top: 0;
  }
}
