.usa-width-one-sixth {
  &.side-nav {
    background-color: $color-gray-lightest;
    margin: 0 -1.5rem;
    padding: 1.5rem;
    .usa-sidenav-list li {
      border: none;
      a {
        color: initial;
        padding-left: 0;
        padding-right: 0;
        &:hover {
          color: $link-color;
        }
      }
    }
    .usa-sidenav-list {
      border: none;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    @media screen and (min-width: 600px) {
      .usa-sidenav-list {
        border: none;
        padding: 0;
      }
    }

    @media screen and (min-width: 951px) {
      .usa-sidenav-list {
        padding-left: 0;
      }
    }
  }
  @media screen and (min-width: 951px) {
    &.side-nav {
      margin: 1.5rem 1.5rem 0 0;
      padding: 0;
    }
  }
}
