.usa-sidenav-list {
  a {
    svg {
      width:18px;
      max-height: 18px;
      margin-right: .4rem;
      margin-bottom: .2em;
      vertical-align: middle;

      g {
        fill: black;
      }
    }

    &:hover svg g {
      fill: $link-color-active;
    }
  }
}

.usa-width-one-sixth {
  &.side-nav {
    background-color: $color-gray-lightest;
    margin: 0 -1.5rem;
    padding: 1.5rem;
    position: sticky;
    top: 10px;

    a {
      &:hover {
        background-color: initial;
      }
    }

    .usa-sidenav-list li {
      border: none;
      a {
        color: black;
        padding-right: 0;
        padding-left: 0;
        &:hover {
          color: $link-color;
        }
      }
    }
    .usa-sidenav-list {
      border: none;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    @media screen and (min-width: 600px) {
      .usa-sidenav-list {
        border: none;
        padding: 0;
      }
    }

    @media screen and (min-width: 951px) {
      .usa-sidenav-list {
        padding-left: 0;
      }
    }
  }
  @media screen and (min-width: 951px) {
    &.side-nav {
      margin: 1.5rem 1.5rem 0 0;
      padding: 0;
      position: sticky;
    }
  }

  @media screen and (max-width: 990px) {
    &.side-nav {
      position: inherit;
    }
  }
}
