.usa-table-borderless {
  thead {
    background-color: $color-gray-lightest;
  }

  th:first-child {
    padding-left: 1rem;
  }
}

.log-table {
  font-size: 1.45rem;

  pre {
    margin: 0;
    max-height: 200px;
    overflow: auto;
    white-space: pre-wrap;
  }
  .usa-button {
    font-size: 1.5rem;
  }
  .table-actions {
    a {
      margin: 0;
    }
  }

  th, td {
    min-width: 131px;
  }
}

.log-table__site-build-log pre {
  border: 1px solid lightgrey;
}

.table-full-width {
  width: 100%;
  td,
  th {
    padding: 1rem;
  }
}
