@use 'variables' as *;

#js-app .usa-table--borderless {
  thead,
  thead th {
    // uswds blue-warm-5
    background: #ecf1f7;
  }
  @media screen and (min-width:1152px) {

    th:first-child {
      padding-left: 1rem;
    }
  }
}

.table-full-width.log-table {
  font-size: 17px;

  pre {
    margin: 0;
    // max-height: 200px;
    // overflow: auto;
    white-space: pre-wrap;
  }

  thead th {
    // uswds blue-warm-5
    background: #ecf1f7;
    padding: 1em;
  }

  th, td {
    // min-width: 124px;
    padding: 1.25em 1em;
    line-height: 1.4em;
    vertical-align: top;
  }


  th:first-child {
    padding-left: 1rem;
  }

  .build-info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
  .build-info-prefix {
    margin-right: 0.75em;
    margin-bottom: 0.5em;
    font-size: 1em;
    line-height: 2rem;
    font-family: Consolas, "Lucida Console", Menlo, monospace;
  }
  .status-info-inline-icon {
    margin: auto .35em auto 0;
    line-height: 0;
    svg {
      width: auto;
      height: 20px;
    }
  }
  .status-info{
    flex: 4;
    line-height: 1.4em;
  }
  .status-info,
  .scan-info,
  .build-info-details,
  .scan-status-details {
    p, h4 {
      font-size: 1em;
      margin: 0;
      white-space: initial;
      line-height: 1.4em;
    }
    h3 {
      display: flex;
      margin: 0 0;
      font-size: 1.2em;
      line-height: 1.4em;
    }
    .scan-info-name {
      font-size: 1.1em;
      font-weight: bold;
    }
    .scan-info-timestamp {
      font-size: 1.1em;
      font-weight: normal;
    }
  }
  .logs-link {
    font-size: 1.1em;
    margin: .5em 0 0;
    font-weight: normal;
  }
  .scan-link,
  .repo-link,
  .view-site-link,
  .result-link,
  .branch-link,
  .commit-link {
    font-size: 1em;
    // font-weight: 600;
    white-space: nowrap;
    svg {
      color: currentColor;
      fill: currentColor;
      width: 12px;
      height: auto;
      margin-right: .3em;
      vertical-align: middle;
    }
  }
  .result-link {
    font-weight: bold;
  }

  .branch-info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 40ch;
    line-height: 1.3em;
    margin: 0;
  }
  .commit-info {
    margin: 0.25em 0 0;
    line-height: 1.3em;
    .commit-user {
      white-space: nowrap;
      font-weight: 600;
      margin-right: .5em;
      max-width: calc(100% - 8ch);
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: bottom;
    }
    .commit-time {
      white-space: nowrap;
    }
    // .commit-sha,
    .sha-link {
      font-family: Consolas, "Lucida Console", Menlo, monospace;
      font-size: .85em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow:clip;
      max-width: 7ch;
      display: inline-block;
      vertical-align: bottom;
      line-height: 1.3em;
      text-decoration: none;
      margin-right: .5em;
      color: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .unstyled-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    margin: 0;
  }
  .small-button {
    padding: 0.4em 0.6em;
    font-size: 1.1em;
    border-radius: 4px;
    white-space: nowrap;
    svg {
      fill: currentColor;
      height: 1em;
      width: auto;
      vertical-align: bottom;
      .envelope-icon {
        fill: currentColor
      }
    }

  }

  & + p { margin-top: 1em;}

}

.table-full-width.log-table__site-scans,
.table-full-width.log-table__site-builds {
  @media screen and (min-width:770px) {
    th {
      white-space: nowrap;
    }
  }
  .scan-status {
    display: grid;
    grid-template-columns: 24px 1fr;
    grid-template-rows: 24px 1fr;
    align-items: center;
  }
  .scan-status-title {
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1.4em;
    color: #112e51;
    margin: 0;
    white-space: nowrap;
    &.scan-status-title-no-results {
      font-weight: 400;
      font-size: 1.1em;
    }
  }
  .scan-status-icon {
    margin: auto 6px auto 0;
    line-height: 0;
    svg {
      width: auto;
      height: 18px;
    }
  }

  .scan-status-details {
    grid-row-start:    2;
    grid-column-start: 2;
    p {
      font-size: 1.2rem;
      margin: 0;
      white-space: initial;
      line-height: 1.4em;
    }
  }

  td, tbody th {
    // padding: 2rem 1rem 1.5rem;
  }
  tbody th {
  // padding-top: 1.5rem;
  }
  .no-scan-results {
    height: 0;
    margin-top: -2px;
    &::before {
      display: none;
    }
  }
  @media screen and (min-width: 1152px) {
    .table-actions {
      text-align: right;
      .small-button {
        margin-right: 0;
      }
    }
    .build-info {
      flex-direction: row;
    }
    .status-info {
      flex-direction: row;
      .status-info-title {
        margin-right: 0.75em;
        line-height: 1.5rem;
        text-align: right;
        min-width: 7ch;
      }
    }
    .build-info-details {
    }
    .build-info-prefix {
      line-height: 1.5rem;
      text-align: right;
      min-width: 7ch;
    }
    .site-link,
    .scan-link {
      margin: 0;
    }
  }

  @media screen and (max-width: 1152px) {
    display: block;
    width: 100%;

    thead {
      position: absolute;
      left: -999em;
    }

    tbody {
      display: block;

      tr {
        display: block;
        border: 1px solid rgb(104, 104, 104);
        position: relative;
        margin-bottom: 1em;
      }

      td > *:first-child {
        margin-left: 1.5em;
      }
      td > *:nth-child(2) {
        margin-left: auto;
      }

      .branch-info {
        margin: 1em 1.5em;
        max-width: fit-content;
      }
      .commit-info {
      }
      th, td {
        display: flex;
        align-items: stretch;
        padding: 0;
        position: relative;
        vertical-align: top;

        > * {
          margin: 1em 1.5em;
        }
        &:first-child {
          padding-left: 0
        }

        &::before {
          // uswds blue-warm-5
          background-color: #ecf1f7;
          padding: 1.5rem;
          // uswds blue-70
          color: #274863;
          content: attr(data-title);
          flex: none;
          font-weight: bold;
          margin-right: .25rem;
          max-width: 10.5rem;
          text-align: left;
          width: 50%;
        }

        p {
          font-size: 1.5rem;
        }
      }
    }
  }
}

.table-full-width {
  width: 100%;
  td,
  th {
    // padding: 1rem;
  }
}

.table-full-width.log-table__site-builds.org-member-table {
  td, tbody th {
    vertical-align: middle;
  }
}
.log-table.log-table__site-scans {
  .scan-info h3 {
    margin: 0
  }
}
.scan-config-table {
  margin-bottom: .5em;
  &,
  input,
  select {
    width: 100%;
    font-size: 14px;
  }
  input,
  select {
    padding-top: .5em;
    padding-bottom: .5em;
    margin: .7em 0;
    height: 2.7em;
  }
  select {
    font-weight: bold;
    cursor: pointer;
    // unselected select box state
    &[id^="select-temp-"],
    &[id="select-"] {
      color: #1b5982;
      box-shadow: #0271bc 0px 0px 4px;
    }
  }
  td {
    padding: .5em;
    font-size: 14px;
    vertical-align: baseline;
    & > p, & > span {
      margin: 0 .5em;
    }
  }
  .rule-source--Pages {
    td {
      vertical-align: middle;
      &[colspan] {
        font-size: 16px;
        code {
          font-size: 14px;
        }
      }
    }
  }
  tr th {
    padding: 1em .5em;
    font-size: 16px;
  }
  td:first-child {
    padding-left: 0;
  }
  td.has-button{
    padding: 1em 0 0;
    width: 10ch;
    text-align: center;
    vertical-align: top;
  }
  .button-delete {
    background-color: transparent;
    padding: 0 1em;
    margin: 0 0 1em;
  }
  .icon-delete {
    width: 1.25em;
    color: #323a45;
    &:active {
      color: #112e51;
    }
    &:hover {
      color: #205493;
    }
  }
  input:disabled {
    background: #f1f1f1;
    box-shadow: 0 0 0 1px #aeb0b5;
    border: none;
    color: #757575;
  }
  .pages-suppressed-string {
    background: #f1f1f1;
    padding: 3px;
    margin: 2px 0;
    display: inline-block;
  }
}
.save-reminder {
  background: #fff1d2;
  padding: .5em .75em;
  font-size: 16px;
  font-weight: bold;
}
.post-scan-config-table-info {
  margin-top: 1em;
}
.site-reports-table td {
  max-width: 80%;
}
.site-reports-table h3 {
  font-size: 1.2em;
}
.site-reports-table p {
  font-size: 1em;
  line-height: 1.4;
}

/* --- Sortable table --- */

$selectedColumnBackground: #ecf3f9;
$selectedColumnText: #071018;
$sortableBorderColor: #b2bccd;
$highlightedRowBackground: #f2f3f5;
$highlightedAndSelectedCellBackground: #dde7ef;

// Shared table styles
@mixin table-header-unsorted-styles {
  position: relative;
  &::after {
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    bottom: 0;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

@mixin table-button-default-styles {
  width: 2rem;
  height: 2rem;
  color:  $color-gray-dark;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  position: absolute;
  right: 0.25rem;
  text-align: center;
  text-decoration: none;
  top: 50%;
  transform: translate(0, -50%);
  .usa-icon {
    width: 1.75rem;
    height: 1.75rem;
    vertical-align: middle;
    & > g {
      fill: transparent;
    }
  }
}

// The SVG in the sortable column button contains three icon shapes.
// This CSS controls which of the shapes is 'filled' when active.

@mixin table-button-unsorted-styles {
  @include table-button-default-styles;
  .usa-icon > g.unsorted {
    fill: $color-gray-dark;
  }
  &:hover .usa-icon > g.unsorted {
    fill: $color-blue;
  }
}

@mixin table-button-sorted-ascending-styles {
  @include table-button-default-styles;
  .usa-icon > .ascending {
    fill: $color-blue-dark;
  }
}

@mixin table-button-sorted-descending-styles {
  @include table-button-default-styles;
  .usa-icon > .descending {
    fill: $color-blue-dark;
  }
}


// specificity because our old tables have a lot of overrides
#js-app .usa-table--sortable {

  /* stylelint-disable selector-class-pattern */
  th[data-sortable],
  th[data-is-sortable] {
    @include table-header-unsorted-styles;
    &:not([aria-sort]),
    &[aria-sort="none"] {
      .usa-table__sort-button {
        @include table-button-unsorted-styles;
      }
    }

    &[aria-sort="descending"],
    &[aria-sort="ascending"] {
      background-color: $selectedColumnBackground;
    }

    &[aria-sort="descending"] {
      .usa-table__sort-button {
        @include table-button-sorted-descending-styles;
      }
    }

    &[aria-sort="ascending"] {
      .usa-table__sort-button {
        @include table-button-sorted-ascending-styles;
      }
    }
  }
  /* stylelint-enable selector-class-pattern */

  thead {
    th[aria-sort] {
      background-color: $selectedColumnBackground;
      color: $selectedColumnText;
    }
    th {
      border-color: $sortableBorderColor;
    }
  }

  td[data-sort-active],
  th[data-sort-active] {
    background-color: $selectedColumnBackground;
    color: $selectedColumnText;
  }  

  td {
    white-space: nowrap;
    border-color: $sortableBorderColor;
  }
  
  tr.highlight td {
    background-color: $highlightedRowBackground;
    &[data-sort-active] {
      background-color: $highlightedAndSelectedCellBackground;
    }
  }
  td.file-name-cell{
    max-width: 0;
  }
  .width-last-mod {
    width: 18ch;
  } 
  .width-actions {
    width: 24ch;
  }
  .file-icon {
    width: 1em;
    height: 1.2em;
    margin-right: .5rem;
    svg {
      display: inline-block;
      fill: currentColor;
      height: 1em;
      position: relative;
      width: 1em;
      flex-shrink: 0;
    }
  }
  .file-name-wrap {
    display: flex;
    height: 2rem;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
  .file-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    -webkit-font-smoothing: auto;
    color: $color-blue-dark;
    height: 1.2em;
    line-height: 1.2em;
  }
  .delete-button {
    padding: 0.4em 0.6em;
    font-size: 1.1em;
    border-radius: 4px;
    white-space: nowrap;
    margin-right: 0;
    // mimics error colors from USWDS -- no outline button for this
    box-shadow: inset 0 0 0 2px #d83933;
    color: #d83933;
    &:hover {
      box-shadow: inset 0 0 0 2px #b50909;
      color: #b50909
    }
    &:active {
      box-shadow: inset 0 0 0 2px #8b0a03;
      color: #8b0a03
    }
  }
}

/* File details */

.file-details {}
.file-details__header {
  display: flex;
  flex-flow: row nowrap;
  padding: 1rem;
  align-items: center;
  .usa-icon {
    height: 1.5rem;
    width: 1.5rem;
  }
  h3 {
    margin: 0;
  }
}
.file-details__close {
  margin-left: auto;
  color: $color-blue-dark;
}
.file-details__table {
  margin: 0;
  width: 100%;
  th, td {
    border-color: $sortableBorderColor;
  }
  .text-bold,
  th {
    font-weight: 600;
  }
  th {
    color: #5d5d5d;
    min-height: 3rem;
    min-width: 20ch;
  }
}

.border-base {
  border-color: $sortableBorderColor;
}

a {
  cursor: pointer;
}

/* File Upload list/table */
.usa-file-input {}
.usa-file-input__preview {
  pointer-events: initial;
}
.file-input__remove:hover + span {
  text-decoration: line-through;
}

.file-storage-logs {
  .file-name-cell {
    max-width: 0;
    word-wrap: break-word;
  }
}