.federalist-template-list {
  .federalist-template-list-item {
    background-color: $secondary-background-color;
    display: block;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    .federalist-template-title {
      margin-bottom: 0;
    }
    p {
      margin-top: .5em;
    }
  }

  .federalist-template-list-item-img {
    flex-grow: 2;
  }

  .thumbnail {
    border: 1px solid $template-thumb-border-color;
  }

  .federalist-template-list-item-content {
    flex-grow: 1;
  }
  @media screen and (min-width: 600px) {
    .thumbnail {
      max-width: 300px;
    }

    .federalist-template-list-item-img {
      margin-right: 1.5rem;
      max-width: 300px;
    }

    .federalist-template-list-item {
      display: flex;
    }
  }
}
