body {
  color: $body-copy-color;
  font-family: $sans-serif;
  font-size: $base-font-size;
}

@mixin hr {
  border: none;
  height: 5px;
  width: 100%;
}

.hr-dark {
  background-color: $color-gray-dark;

  @include hr;
}

.hr-light {
  background-color: $color-gray-light;

  @include hr;
}

.federalist-hero {
  padding-bottom: 60px;
  padding-top: 60px;
}

.hero-heading {
  font-size: $h1-hero-font-size;
  font-weight: $font-weight-heavy;
  padding-right: 40px;
}

.contrast-heading {
  color: $heading-contrast-color
}

.usa-hero-callout {
  background-color: $white;
  max-width: 40rem;
  padding: 30px;

  .usa-hero-callout-stats {
    padding-bottom: $spacing-sm;
  }
}

.build-count {
  background-color: $well-bg-color;
  color: inherit;
  text-align: center;
  p {
    padding: 1rem 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-serif;
  margin-top: .5em;
}

h2 {
  color: $heading-contrast-color;
  font-size: $h2-font-size;
}

p {
  &.small {
    font-size: $body-font-size-sm;
    line-height: 1em;
  }
}

.center-text {
  text-align: center;
}
