body {
  color: $body-copy-color;
  font-family: $sans-serif;
  font-size: $base-font-size;
}

@mixin hr {
  border: none;
  height: 5px;
  width: 100%;
}

.hr-dark {
  background-color: $color-gray-dark;
  margin-bottom: 0;

  @include hr;
}

.hr-light {
  background-color: $color-gray-lighter;

  @include hr;
}

.federalist-hero {
  padding-bottom: 60px;
  padding-top: 60px;
}

.hero-heading {
  font-size: $h1-font-size;
  font-weight: $font-weight-heavy;
  padding-bottom: 16px;
  padding-right: 40px;

  @media screen and (max-width: $mobile-size) {
    font-size: 2.25em;
    padding-bottom: $spacing-xl;
    padding-right: 0;
  }
}

.contrast-heading {
  color: $heading-contrast-color
}

.usa-hero-callout {
  background-color: $white;
  max-width: 40rem;
  padding: $spacing-lg;

  > *:first-child {
    margin-bottom: 1.5em;
  }

  .usa-hero-callout-stats {
    p {
      font-size: $h5-font-size;
      margin-bottom: .5em;
    }

    p, h5 {
      line-height: 24px;
    }

    padding-bottom: $spacing-sm;
  }

  @media screen and (max-width: $mobile-size) {
    font-size: 20px;
    text-align: center;
    width: 100%;

    .usa-hero-callout-stats {
      padding-bottom: 0;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-serif;
  margin-top: .5em;
}

h2 {
  color: $heading-contrast-color;
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
  line-height: $h4-line-height;
}

h5 {
  font-size: $h5-font-size;
}

p {
  font-size: $body-font-size-lg;
  margin-top: 0;

  &.small {
    font-size: $body-font-size-sm;
    line-height: 1em;
  }

  &.x-small {
    font-size: $body-font-size-xsm;
  }

  @media screen and (max-width: $mobile-size) {
    font-size: 20px;
  }
}
