body {
  color: $text-color;
  font-family: $sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-serif;
  margin-top: .5em;
}

h1 {
  font-weight: 500;
}

p {
  font-family: $serif;
  font-size: 16px;
  font-style: italic;
}

.center-text {
  text-align: center;
}
