$sans-serif: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 'Merriweather', serif;

$white: #fff;

$color-gray-dark: #415161;
$color-gray-darker: #2c3e50;
$color-gray-lightest: #eef4fb;
$color-gray-light: #c7d5e3;

$body-copy-color: $color-gray-darker;

$background-color: $white;
$secondary-background-color: #f7f8f9;

$form-input-border-color: #ccc;
$template-thumb-border-color: #efefef;

$heading-color: #192532;
$heading-contrast-color: #7b3028;
$heading-quiet-color: $color-gray-dark;
$text-color: $color-gray-darker;

$header-bg-color: $color-gray-darker;
$header-text-color: $white;

$hero-bg-color: $color-gray-lightest;
$hero-text-color: $header-text-color;

$contrast: #d14636;

$link-color: #2373a7;
$link-color-active: #287DB5;

$button-color: $link-color;
$button-color-active: $link-color-active;
$button-text-color: white;

$secondary-button-color: $contrast;

$label-success-bg-color: #2e8540;
$label-danger-bg-color: $contrast;
$label-warning-bg-color: #fdb81e;

$well-bg-color: $color-gray-lightest;
$alert-delete-bg-color: #f9dede;

$uswds-error-color: #cd2026;

$logo-width: 140px;
$logo-height: 29px;

$home-feature-margin: 3em;

$footer-primary-bg-color: #122e51;
$footer-bg-color: #3b5a83;

$h1-hero-font-size: 3.5em;
$h1-font-size: 3.125em;
$h2-font-size: 2.375em;
$h3-font-size: 2em;
$h4-font-size: 1.41em;
$h5-font-size: 1.1875em;
$h6-font-size: .9375em;

$h1-hero-line-height: 4.47em;
$h1-line-height: 3.82em;
$h2-line-height: 3.0625em;
$h3-line-height: 2.58em;
$h4-line-height: 1.82em;
$h5-line-height: .94em;
$h6-line-height: .88em;

$font-weight-heavy: 700;
$font-weight-normal: 400;

$base-font-size: 16px;
$body-font-size-sm: .9375em;
$body-line-height-sm: 1.4375em;

$body-line-height: 1.375em;
$body-lg-line-height: 2.0625em;

$spacing-sm: 10px;
$spacing-med: 20px;
$spacing-lg: 30px;
$spacing-xl: 40px;
$spacing-xxl: 60px;