$sans-serif: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 'Merriweather', serif;

$background-color: white;
$secondary-background-color: #f7f8f9; /*#e6e6e6;*/

$text-color: #414141;

$header-bg-color: #2d476a;
$header-text-color: white;

$hero-bg-color: rgb(97, 142, 200);
$hero-text-color: $header-text-color;

$contrast: #f05b4e;

$link-color: #0071bc;
$link-color-active: #017aa7;

$button-color: #017aa7;
$button-color-active: #03c0e9;
$button-text-color: white;

$secondary-button-color: $contrast;

$label-success-bg-color: #2e8540;
$label-danger-bg-color: $contrast;
$label-warning-bg-color: #fdb81e;

$well-bg-color: #e1f3f8;
$alert-delete-bg-color: #f9dede;
