@import '_variables';

.well {
  background-color: $well-bg-color;
  padding: 1.5rem;
  position: relative;
}

.well-heading {
  margin-bottom: .3rem;
  margin-top: 0;
  .well-title {
    margin-bottom:0;
  }
}

.well-text {
  margin-bottom: 0;
  margin-top: 0;
  flex: 1 1 auto;
}
.well-footer {
    padding: 2rem 0 0;
    :last-child {
      margin-bottom: 0;
    }
}
