@use 'uswds' with (
  $theme-font-path: '../../node_modules/@uswds/uswds/dist/fonts',
  // $theme-image-path: '/../../node_modules/@uswds/uswds/dist/img',
  $theme-show-notifications: false,
  $theme-utility-breakpoints: (
    'card':              false,   // 160px
    'card-lg':           false,   // 240px
    'mobile':            false,   // 320px
    'mobile-lg':         true,    // 480px
    'tablet':            true,    // 640px
    'tablet-lg':         true,   // 880px
    'desktop':           true,    // 1024px
    'desktop-lg':        true,   // 1200px
    'widescreen':        true,   // 1400px
  ),
  $theme-identifier-max-width: 'desktop-lg',
  $theme-footer-max-width: 'desktop-lg',
  $theme-header-max-width: 'desktop-lg',
  $theme-banner-max-width: 'desktop-lg',
  $theme-grid-container-max-width: 'desktop-lg',
  // $theme-site-margins-breakpoint: 'desktop-lg',
  $theme-site-alert-max-width: 'desktop-lg',
  $theme-header-logo-text-width: 70%,
  $theme-color-primary-family: 'blue',
  $theme-color-primary-lightest: 'blue-warm-5',
  $theme-color-primary-lighter: 'blue-warm-10',
  $theme-color-primary-light: 'blue-30',
  $theme-color-primary: 'blue-60',
  $theme-color-primary-vivid: 'blue-70v',
  $theme-color-primary-dark: 'blue-70',
  $theme-color-primary-darker: 'blue-warm-80v',
//  $theme-color-primary-darkest: 'blue-cool',
  $theme-color-base-lightest: 'gray-cool-3',
  $theme-color-base-lighter: 'gray-cool-5',
  $theme-color-base-light: 'gray-cool-10',
  $theme-color-base-dark: 'blue-70',
  $theme-color-base-darker: 'blue-warm-80v',
  $theme-color-base-ink: 'blue-warm-80v',
  $theme-button-border-radius: 'sm',
  $theme-identifier-background-color: 'blue-warm-80v',
  $theme-identifier-primary-link-color: 'blue-cool-5',
  $theme-identifier-secondary-link-color: 'blue-cool-10',
  $theme-global-link-styles: true,
  $theme-card-header-typeset: ( "body", "xl", 2),
  $theme-card-border-radius: "sm",
  $theme-card-border-color: 'base-light',
  $theme-card-margin-bottom: 2,
  $theme-card-border-width: '1px',
  $theme-card-flag-image-width: 'mobile',
  $theme-font-role-heading: 'sans',
  $theme-table-header-background-color: 'primary-lightest',
);


@import "build-logs";
@import "icons";
@import "loader";
@import "tables";
@import "log-tools";


body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}
#js-app {
  height: 100%;
  margin: 0 auto
}

#js-app>[data-reactroot] {
  height: inherit
}

// menu restyle for desktop
@media (min-width: 64em) {
  .usa-nav__primary > .usa-nav__primary-item {
    & > a.usa-nav-link {
      -webkit-font-smoothing: antialiased;
      color: #fff;
      font-weight: 400;
      &:hover,
      &:focus,
      &:target {
        color: #dae9ee; // blue-cool-10
        text-decoration: underline;
      }
    }
    &:last-child > a {
      padding-right: 0;
      span { margin-right: 0 }
    }
  }
  .usa-logo {
      margin: 1.5rem 0;
  }
}
.usa-button:not(.usa-button--unstyled) {
  -webkit-font-smoothing: antialiased;
  svg {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    position: relative;
    width: 1em;
    flex-shrink: 0;
  }
}
a > svg {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  position: relative;
  width: 1em;
  flex-shrink: 0;
}

.usa-button--outline {
  background: white;
}

.usa-card__img img {
  object-position: top left;
}

.site > .side-nav {
  @media (min-width: 64em) {
    position: relative;
    &:before {
      content: '';
      width: 100vw;
      height: 100%;
      position: absolute;
      left: -100vw;
      top: 0;
      margin-left: 10em;
      background-color: inherit;
      display: block;
      z-index: -1;
    }
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}
.usa-sidenav-list {
  @media (min-width: 64em) {
    position: sticky;
    top: 1rem;
  }
}