
// Setup for the US Web Design Standards
$font-path: '../../node_modules/uswds/src/fonts';
$image-path: '../../node_modules/uswds/src/img';

@import '../../node_modules/uswds/src/stylesheets/all.scss';

@import "_variables";

@import "_actions";
@import "_alerts";
@import "_dashboard";
@import "_forms";
@import "_header";
@import "_home";
@import "_icons";
@import "_labels";
@import "_loader";
@import "_text";
@import "_wells";
@import "_tables";
@import "_log-tools";
@import "_flexbox";
@import "_examples";
@import "side-nav";
@import "template-items";
@import "_footer";


// .usa-grid.site {
//   height: 100vh;
// }
// #js-app, div[data-reactroot=""] {
//   height: 100vh;
// }

.usa-grid.site {
  height: 100vh;
}

#js-app {
  max-width: 1040px;
  margin: 0 auto;
  min-height: 100vh;
}

.main-loader {
  color: #5b616b;
  margin: 40px 0;
  min-height: 200px;
  text-align: center;
}

.site-main {
  background-color: white;
  min-height: 100%;
  padding-bottom: 5rem;
}

.offset-top {
  margin-top: 6em;
}

body:before {
  bottom: 0;
  content: '';
  left: 0;
  position: fixed;
  top: 0;
  width: 50%;
  z-index: -1;
}

@media screen and (min-width: 600px) {
  body:before {
    background-color: $color-gray-lightest;
  }

  .site-main {
    padding-left: 3rem;
  }
}
