.upload-alert {
  margin-bottom: 1.5em;
}

.usa-alert-error {
  background-image: url(../images/uswds/alerts/error.png);
  background-image: url(../images/uswds/alerts/error.svg);
}

.usa-alert-home {
  margin-top: 0;
}
