header {
  background-color: $header-bg-color;
}

$nav-padding: .45em;

nav {
  padding-bottom: $nav-padding;
  padding-top: $nav-padding;
}

.nav-elements {
  display: flex;
  min-height: 50px;
}

.logo {
  flex-grow: 3;
}

.navbar-links {
  flex-grow: 1;
}

.navbar-links li:after {
  margin-bottom: 0;
}

nav ul {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 600px) {
  nav li:first-of-type {
    display: none;
  }
}

nav li:before {
  content: "";
  display: none;
}

nav li {
  display: inline-block;
  flex-grow: 1;
  list-style-type: none;
  text-align: right;
}

nav li a,
nav li a:visited {
  color: white;
}

$logo-width: 140px;
$logo-height: 29px;

.logo {
  align-items: center;
  display: flex;
}

.logo a {
  background-image: url('/images/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent;
  display: inline-block;
  height: $logo-height;
  width: $logo-width;
}

.header {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.header .usa-width-two-thirds {
  display: flex;
}

.header-icon {
  height: 55px;
  width: 90px;
}

.header-title {
  display: flex;
  margin-left: 1em;
  flex-direction: column;
  justify-content: space-between;
}

.header-title h1 {
  font-size: 2.8rem;
  margin: 0;
}

.header-title p {
  line-height: 1em;
  margin: 0;
}

.header .usa-button {
  margin-top: 0;
}
