@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/sourcesanspro-regular-webfont.eot');
  src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
     url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
     url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
     url('../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/sourcesanspro-italic-webfont.eot');
  src: url('../fonts/sourcesanspro-italic-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/sourcesanspro-italic-webfont.woff2') format('woff2'),
     url('../fonts/sourcesanspro-italic-webfont.woff') format('woff'),
     url('../fonts/sourcesanspro-italic-webfont.ttf') format('truetype'),
     url('../fonts/sourcesanspro-italic-webfont.svg#source_sans_proitalic') format('svg');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/sourcesanspro-bold-webfont.eot');
  src: url('../fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
       url('../fonts/sourcesanspro-bold-webfont.woff') format('woff'),
       url('../fonts/sourcesanspro-bold-webfont.ttf') format('truetype'),
       url('../fonts/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
}

body {
  margin-bottom: 4em;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.stage-bug {
  display: block;
  background: #f3f3f3;
  color: #333;
  border: 1px solid #d9d9d9;
  border-top: none;
  text-align: center;
  padding: .5em 0;
}

.jumbotron {
  background-color: transparent;
}

.sites {
  list-style-type: none;
  padding-left: 0; /* reset from Bootstrap */
}

.list-group .glyphicon {
  font-size: 3em;
}

.editor .panel {
  margin-top: 2em;
}

.CodeMirror {
  height: auto;
}

/* override material.css for special editor styles */
.st-outer ul, .st-outer ul li {
  list-style-type: disc;
}
.st-outer ol, .st-outer ol li {
  list-style-type: decimal;
}

/* extend or override parts of Sir Trevor CSS */
.st-text-block--heading.heading-two {
  font-size: 1.7em;
}
.st-text-block--heading.heading-three {
  font-size: 1.2em;
}
