@import "sass/_variables";

@import "sass/_actions";
@import "sass/_alerts";
@import "sass/_animations";
@import "sass/_breadcrumb";
@import "sass/_dashboard";
@import "sass/_editors";
@import "sass/_forms";
@import "sass/_header";
@import "sass/_home";
@import "sass/_icons";
@import "sass/_image-manager";
@import "sass/_labels";
@import "sass/_loader";
@import "sass/_logs";
@import "sass/_text";

html,
body,
main {
  height: 100%;
}

.recent-drafts {
  width: 100%;
}

.pull-right {
  float: right;
}

.pull-right::after {
  content: '';
  clear: both;
  display: table-cell;
}

.list-group {
  width: 100%;
}

.list-group li:before {
  content: '';
}

.list-group li {
  box-sizing: border-box;
  border-bottom: 2px solid black;
  display: list-item;
}

li.list-group-item ul.list-group {
  border-top: 2px solid black;
}

.list-group li:last-child {
  border-width: 0;
}

.list-group-item {
  line-height: 3em;
  margin-bottom: 0;
  margin-top: 0;
}

.list-group ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 2em;
}

.main-loader {
  text-align: center;
  min-height: 200px;
  margin: 40px 0;
  color: #5b616b;
}

.site {
  padding-right: 0;
}

.site-main {
  background-color: white;
  min-height: 100%;
  padding-bottom: 3em;
}

.site-actions {
  list-style-type: none;
  margin-top: 0.7em;
}

.site-actions li:before {
  content: '';
}

.site-actions li {
  display: block;
  margin-bottom: 1.2em;
}

.site-actions a {
  color: $text-color;
}

.site-actions a:hover {
  color: $link-color;
}

.usa-grid.site:before {
  background-color: $secondary-background-color;
  bottom: 0;
  content: '';
  left: 0;
  position: fixed;
  top: 0;
  width: 50%;
  z-index: -1;
}
