
html {
  font-size: 16px;
}

pre {
  white-space: normal;
  max-width: 80rem;
}
h5 {
  font-size: 20px;
  margin: 1.5em 0 -.5em;
}

.usa-prose > p {
  line-height: 1.8;
  max-width: 80ex;
}

.narrow-mono {
  letter-spacing: -.02em;
}

.usa-tag {
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.01em;
}

.usa-tag.usa-button {
  padding: 6px 12px;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 100
}
.usa-list li, .usa-prose>ol li, .usa-prose>ul li {
  max-width: 100%;
}
.usa-prose ul li a {
  line-break: anywhere;
}
hr {
  height: 3px;
  width: 6em;
  margin: 2em 0;
  background: #a2a9ae;
  border: none;
}

ol li::marker {
  font-family: 'Roboto Mono Web', 'Bitstream Vera Sans Mono',Consolas,Courier,monospace;
}

ol li.report-item:hover,
ol li.report-item:focus {
  background: #92ddf24f;
  outline: 3px solid #92ddf24f;
  border-radius: 2px;
}
.break-anywhere {
  word-break: break-all;
}
.break-balance {
  text-wrap: balance;
  text-wrap: pretty;
}

summary {
  cursor: pointer;
}
summary b:hover {
  text-decoration: underline;
}

.finding-description > p:first-child {
  font-size: 20px;
  margin: 1em 0;
}

.usa-table--compact th,
.usa-table--compact td {
  vertical-align: top;
  padding: .4rem .75rem;
}
.usa-table--compact thead th {
  text-transform: uppercase;
  letter-spacing: .05em;
  font-size: 95%;
  opacity: .75;
  -webkit-font-smoothing: antialiased;
}
[id]:target .target-highlight {
  background-color: #e7f6f8;
}
.anchor-indicator {
  text-decoration: none;
  margin: 0 .25em;
  padding: 0 .125em;
  font-weight: normal;
  font-variant-position: super;
  display: inline-block;
}

@media (max-width: 40em) {
  td.text-right {
    text-align: left;
  }
}
@media (min-width: 40em) {
  .back-to-top {
    position: fixed;
    bottom: 0;
  }
}

@media (min-width: 64em) {
  .usa-alert .usa-alert__body {
    max-width: 72em;
  }
  .grid-container {
    max-width: 76em;
  }
}

p .usa-tag:only-of-type {
    margin-right: .25em;
}

/* SOLID TAGS ONLY */

.bg-risk-high   { background: #e41d3d} 
.bg-risk-medium { background: #cf4900} 
.bg-risk-low    { background: #9D6D0B} 
.bg-risk-info   { background: #0081a1} 
.bg-risk-other  { background: #71767a} 

a.bg-risk-high:hover   { background: #b21d38}
a.bg-risk-medium:hover { background: #a72f10} 
a.bg-risk-low:hover    { background: #7a591a} 
a.bg-risk-info:hover   { background: #00687d} 
a.bg-risk-other:hover  { background: #565c65}  




/* https://github.com/highlightjs/highlight.js/tree/main/src/styles */


.hljs {
  color: #24292e;
  background: #ffffff;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: #d73a49;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: #6f42c1;
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  /* prettylights-syntax-constant */
  color: #005cc5;
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: #032f62;
}

.hljs-built_in,
.hljs-symbol {
  /* prettylights-syntax-variable */
  color: #e36209;
}

.hljs-comment,
.hljs-code,
.hljs-formula {
  /* prettylights-syntax-comment */
  color: #6a737d;
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #22863a;
}

.hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: #24292e;
}

.hljs-section {
  /* prettylights-syntax-markup-heading */
  color: #005cc5;
  font-weight: bold;
}

.hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: #735c0f;
}

.hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: #24292e;
  font-style: italic;
}

.hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: #24292e;
  font-weight: bold;
}

.hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: #22863a;
  background-color: #f0fff4;
}

.hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #b31d28;
  background-color: #ffeef0;
}

.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  /* purposely ignored */
}

.hljs {
  overflow-x: auto;
  background: #f2f4f5 !important;
  color: black !important;
  border: 1px solid #dfe2e3;
}

.hljs .hljs-punctuation,
.hljs .hljs-tag {
  color: #4b4b4b;
}

.hljs .hljs-tag .hljs-attr {
  color: #05236c;
}

.hljs .hljs-tag .hljs-name {
  color: #04363f;
}

.hljs .hljs-tag .hljs-string {
  color: #510438;
  font-style: italic;
}
@media (max-width: 30em) {
  code {
    line-break: anywhere;
  }
}


@media print {
  html {
    font-size: 10px;
  }
  .grid-container, .usa-alert__body {
    max-width: unset !important;
  }
  @page {
    margin: 1cm;
  }
  .sticky {
    position: unset !important;
  }

}


@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.loader {
  color: #5b616b;
  margin: 40px 0;
  min-height: 200px;
  text-align: center;
}

.uil-ring-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  transform: scale(0.6);
}
.uil-ring-css > div {
  position: absolute;
  display: block;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 80px;
  box-shadow: 0 6px 0 0 #aeb0b5;
  animation: uil-ring-anim 1s linear infinite;
}

.loader--mini {
  margin: 20px auto;
  min-height: 100px;
}
.loader--mini .uil-ring-css {
  width: 100px;
  height: 100px;
}
.loader--mini .uil-ring-css > div {
  width: 80px;
  height: 80px;
  top: 10px;
  left: 10px;
  border-radius: 80px;
}